<a href="https://codeimmersives.com"><img src = "https://www.codeimmersives.com/wp-content/uploads/2019/09/CodeImmersives_Logo_RGB_NYC_BW.png" width = 400> </a>


<h1 align=center><font size = 5>Agenda</font></h1>

## SQL Operations using Python

### Agenda
<div class="alert alert-block alert-info" style="margin-top: 20px">

1.  [Review](#0)<br>
2.  [Base Python Exercise 1](#1)<br>
3.  [Base Python Exercise 2](#2)<br>
4.  [Base Python Exercise 3](#3)<br>
5.  [SQLite Exercises 1](#10)<br>    
6.  [SQLite Exercises 2](#12)<br>
7.  [Exercises](#14)<br>
</div>
<hr>

<h2>Base Python Exercise 1</h2>
Calculate the mean, median, and mode of the following data set:<br>
<code>
numList = [88,89,90,93,84,86,88,91,88,87]

def calcMean(numList):
    pass
def calcMode(numList):
    pass
def calcMedian(numList):
    pass
"""
Call all of the functions below
"""
</code>

<h4>Solution</h4>

In [63]:
import math

numList = [88,89,90,93,84,86,88,91,88,87]

def calcMean(li = []):
    sum = 0
    for x in li:
        sum += x
    mean = sum / len(li)

    print(mean)


def calcMedian(li=[]):
    li.sort()
    middleTwo = []
    if len(li)%2 == 0:
        for x in range(len(li)):
            if x == len(li)/2:
                middleTwo.append(li[x])

            elif x == ((len(li)/2) + 1):
                middleTwo.append(li[x])
                
        median = (middleTwo[0] + middleTwo[1]) / 2

    elif len(li) % 2 != 0:
        middle =int((len(li)/2) - .5)
        median = li[middle]

    print(median)
        

def calcMode(li=[]):
    setli = set(li)
    print(setli)
    mode = 1
    for x in setli:
        if li.count(x) > mode:
            mode = x
        elif li.count(x) = mode:
            mode = mode, ",", x
        else:
            mode = mode
    
    print(mode)

calcMean(numList)
calcMedian(numList)
calcMode(numList)

88.4
88.5
{84, 86, 87, 88, 89, 90, 91, 93}
88

<h2>Base Python Exercise 2</h2>
Write code to identify all prime numbers from 1000 through 1100

In [71]:

numList2 = range(1000,1101)

def primeNums(li=[]):
    for num in li:
        prime = True
        for x in range(2, num):
            if num % x == 0:
                prime = False
                break
        if prime == True:
            print(num)
        
        

primeNums(numList2)

1009
1013
1019
1021
1031
1033
1039
1049
1051
1061
1063
1069
1087
1091
1093
1097

<h2>Base Python Exercise 3</h2>
Using the code from above determine which prime numbers from above where the sum<br>
of their digits is also prime?<br>

In [76]:
def primeNums(li=[]):
    for num in li:
        prime = True
        for x in range(2, num):
            if num % x == 0:
                prime = False
                break
        if prime == True:
            #make digits in num a string:
            num = str(num)
            sum = 0
            for i in num:
                sum += int(i)
                for y in range(2,sum):
                    if num % y == 0:
                        prime = False
                        break
                    else:
                        print(num)

            

primeNums(numList2)

TypeError: not all arguments converted during string formatting

<h2>Base Python Exercise 4</h2>
How do you select 5 volunteers from a list of students?<br>
students = ['Renee','Julia','Warren','Stacey','Charles','Linda','Dwight','Ann','Franklin','George','Walter','Susan']
<br>
Which students remained?

<h4>Solution</h4>

In [59]:
import random

Susan was picked
['Renee', 'Julia', 'Warren', 'Stacey', 'Charles', 'Linda', 'Dwight', 'Ann', 'Franklin', 'George', 'Walter']
Warren was picked
['Renee', 'Julia', 'Stacey', 'Charles', 'Linda', 'Dwight', 'Ann', 'Franklin', 'George', 'Walter']
Walter was picked
['Renee', 'Julia', 'Stacey', 'Charles', 'Linda', 'Dwight', 'Ann', 'Franklin', 'George']
Ann was picked
['Renee', 'Julia', 'Stacey', 'Charles', 'Linda', 'Dwight', 'Franklin', 'George']
Franklin was picked
['Renee', 'Julia', 'Stacey', 'Charles', 'Linda', 'Dwight', 'George']
I randomly picked the following students: ['Susan', 'Warren', 'Walter', 'Ann', 'Franklin']
Remaining students: ['Renee', 'Julia', 'Stacey', 'Charles', 'Linda', 'Dwight', 'George']

<h2>Exercise</h2>
Open the file World_country_populations<br>
And answer the following questions:<br>
1 - Print the top 20 countries by population - Output in millions.<br>
2 - What is the total world population<br>
3 - Top 10 countries by median age<br>
4 - Top 10 countries where people left<br>
5 - Top 10 countries who took in migrants<br>
6 - Which countries with a population less than 10 million had the largest year_change pct<br>

In [6]:
import os

235,Holy See ,801,0.0025,2,2003,0,,N.A. ,N.A. ,N.A. ,0

234,Tokelau ,1357,0.0127,17,136,10,,N.A. ,N.A. ,0,0

233,Niue ,1626,0.0068,11,6,260,,N.A. ,N.A. ,0.46,0

232,Falkland Islands ,3480,0.0305,103,0,12170,,N.A. ,N.A. ,0.66,0

231,Montserrat ,4992,0.0006,3,50,100,,N.A. ,N.A. ,0.1,0

230,Saint Pierre & Miquelon ,5794,-0.0048,-28,25,230,,N.A. ,N.A. ,1,0

229,Saint Helena ,6077,0.003,18,16,390,,N.A. ,N.A. ,0.27,0

228,Saint Barthelemy ,9877,0.003,30,470,21,,N.A. ,N.A. ,0,0

227,Nauru ,10824,0.0063,68,541,20,,N.A. ,N.A. ,N.A. ,0

226,Wallis & Futuna ,11239,-0.0169,-193,80,140,,N.A. ,N.A. ,0,0

225,Tuvalu ,11792,0.0125,146,393,30,,N.A. ,N.A. ,0.62,0

224,Anguilla ,15003,0.009,134,167,90,,N.A. ,N.A. ,N.A. ,0

223,Cook Islands ,17564,0.0009,16,73,240,,N.A. ,N.A. ,0.75,0

222,Palau ,18094,0.0048,86,39,460,,N.A. ,N.A. ,N.A. ,0

221,Caribbean Netherlands ,26223,0.0094,244,80,328,,N.A. ,N.A. ,0.75,0

220,British Virgin Islands ,30231,0.0067,201,202,150,,N.A. ,N.A. ,0.52,0

219,Gibraltar ,33691,-0.0003,-10,3369,10,,N.A. ,N.A. ,N.A. ,0

218,San Marino ,33931,0.0021,71,566,60,,N.A. ,N.A. ,0.97,0

217,Liechtenstein ,38128,0.0029,109,238,160,,N.A. ,N.A. ,0.15,0

216,Saint Martin ,38666,0.0175,664,730,53,,N.A. ,N.A. ,0,0

215,Turks and Caicos ,38717,0.0138,526,41,950,,N.A. ,N.A. ,0.89,0

214,Monaco ,39242,0.0071,278,26337,1,,N.A. ,N.A. ,N.A. ,0

213,Sint Maarten ,42876,0.0115,488,1261,34,,N.A. ,N.A. ,0.96,0

212,Faeroe Islands ,48863,0.0038,185,35,1396,,N.A. ,N.A. ,0.43,0

211,Saint Kitts & Nevis ,53199,0.0071,376,205,260,,N.A. ,N.A. ,0.33,0

210,American Samoa ,55191,-0.0022,-121,276,200,,N.A. ,N.A. ,0.88,0

209,Greenland ,56770,0.0017,98,0,410450,,N.A. ,N.A. ,0.87,0

208,Northern Mariana Islands ,57559,0.006,343,125,460,,N.A. ,N.A. ,0.88,0

207,Marshall Islands ,59190,0.0068,399,329,180,,N.A. ,N.A. ,0.7,0

206,Bermuda ,62278,-0.0036,-228,1246,50,,N.A. ,N.A. ,0.97,0

205,Cayman Islands ,65722,0.0119,774,274,240,,N.A. ,N.A. ,0.97,0

204,Dominica ,71986,0.0025,178,96,750,,N.A. ,N.A. ,0.74,0

203,Andorra ,77265,0.0016,123,164,470,,N.A. ,N.A. ,0.88,0

202,Isle of Man ,85033,0.0053,449,149,570,,N.A. ,N.A. ,0.53,0

201,Antigua and Barbuda ,97929,0.0084,811,223,440,0,2,34,0.26,0

200,Seychelles ,98347,0.0062,608,214,460,-200,2.5,34,0.56,0

199,U.S. Virgin Islands ,104425,-0.0015,-153,298,350,-451,2,43,0.96,0

198,Tonga ,105695,0.0115,1201,147,720,-800,3.6,22,0.24,0

197,Aruba ,106766,0.0043,452,593,180,201,1.9,41,0.44,0

196,St. Vincent & Grenadines ,110940,0.0032,351,284,390,-200,1.9,33,0.53,0

195,Grenada ,112523,0.0046,520,331,340,-200,2.1,32,0.35,0

194,Kiribati ,119449,0.0157,1843,147,810,-800,3.6,23,0.57,0

193,CuraÃ§ao ,164093,0.0041,669,370,444,515,1.8,42,0.89,0

192,Guam ,168775,0.0089,1481,313,540,-506,2.3,31,0.95,0

191,Channel Islands ,173863,0.0093,1604,915,190,1351,1.5,43,0.3,0

190,Saint Lucia ,183627,0.0046,837,301,610,0,1.4,34,0.19,0

189,Samoa ,198414,0.0067,1317,70,2830,-2803,3.9,22,0.18,0

188,Sao Tome & Principe ,219159,0.0191,4103,228,960,-1680,4.4,19,0.74,0

187,Mayotte ,272815,0.025,6665,728,375,0,3.7,20,0.46,0

186,French Polynesia ,280908,0.0058,1621,77,3660,-1000,2,34,0.64,0

185,New Caledonia ,285498,0.0097,2748,16,18280,502,2,34,0.72,0

184,Barbados ,287375,0.0012,350,668,430,-79,1.6,40,0.31,0

183,French Guiana ,298682,0.027,7850,4,82200,1200,3.4,25,0.87,0

182,Vanuatu ,307145,0.0242,7263,25,12190,120,3.8,21,0.24,0

181,Iceland ,341243,0.0065,2212,3,100250,380,1.8,37,0.94,0

180,Martinique ,375265,-0.0008,-289,354,1060,-960,1.9,47,0.92,0

179,Bahamas ,393244,0.0097,3762,39,10010,1000,1.8,32,0.86,0.0001

178,Belize ,397628,0.0186,7275,17,22810,1200,2.3,25,0.46,0.0001

177,Guadeloupe ,400124,0.0002,68,237,1690,-1440,2.2,44,N.A. ,0.0001

176,Brunei ,437479,0.0097,4194,83,5270,0,1.8,32,0.8,0.0001

175,Malta ,441543,0.0027,1171,1380,320,900,1.5,43,0.93,0.0001

174,Maldives ,540544,0.0181,9591,1802,300,11370,1.9,30,0.35,0.0001

173,Micronesia ,548914,0.01,5428,784,700,-2957,2.9,27,0.68,0.0001

172,Cabo Verde ,555987,0.011,6052,138,4030,-1342,2.3,28,0.68,0.0001

171,Suriname ,586632,0.009,5260,4,156000,-1000,2.4,29,0.65,0.0001

170,Western Sahara ,597339,0.0255,14876,2,266000,5582,2.4,28,0.87,0.0001

169,Luxembourg ,625978,0.0166,10249,242,2590,9741,1.5,40,0.88,0.0001

168,Montenegro ,628066,0.0001,79,47,13450,-480,1.8,39,0.68,0.0001

167,Macao ,649335,0.0139,8890,21645,30,5000,1.2,39,N.A. ,0.0001

166,Solomon Islands ,686884,0.0255,17061,25,27990,-1600,4.4,20,0.23,0.0001

165,Bhutan ,771608,0.0112,8516,20,38117,320,2,28,0.46,0.0001

164,Guyana ,786552,0.0048,3786,4,196850,-6000,2.5,27,0.27,0.0001

163,Comoros ,869601,0.022,18715,467,1861,-2000,4.2,20,0.29,0.0001

162,RÃ©union ,895312,0.0072,6385,358,2500,-1256,2.3,36,1,0.0001

161,Fiji ,896445,0.0073,6492,49,18270,-6202,2.8,28,0.59,0.0001

160,Djibouti ,988000,0.0148,14440,43,23180,900,2.8,27,0.79,0.0001

159,Eswatini ,1160164,0.0105,12034,67,17200,-8353,3,21,0.3,0.0001

158,Cyprus ,1207359,0.0073,8784,131,9240,5000,1.3,37,0.67,0.0002

157,Mauritius ,1271768,0.0017,2100,626,2030,0,1.4,37,0.41,0.0002

156,Timor-Leste ,1318445,0.0196,25326,89,14870,-5385,4.1,21,0.33,0.0002

155,Estonia ,1326535,0.0007,887,31,42390,3911,1.6,42,0.68,0.0002

154,Trinidad and Tobago ,1399488,0.0032,4515,273,5130,-800,1.7,36,0.52,0.0002

153,Equatorial Guinea ,1402985,0.0347,46999,50,28050,16000,4.6,22,0.73,0.0002

152,Bahrain ,1701575,0.0368,60403,2239,760,47800,2,32,0.89,0.0002

151,Latvia ,1886198,-0.0108,-20545,30,62200,-14837,1.7,44,0.69,0.0002

150,Guinea-Bissau ,1968001,0.0245,47079,70,28120,-1399,4.5,19,0.45,0.0003

149,Slovenia ,2078938,0.0001,284,103,20140,2000,1.6,45,0.55,0.0003

148,North Macedonia ,2083374,0,-85,83,25220,-1000,1.5,39,0.59,0.0003

147,Lesotho ,2142249,0.008,16981,71,30360,-10047,3.2,24,0.31,0.0003

146,Gabon ,2225734,0.0245,53155,9,257670,3260,4,23,0.87,0.0003

145,Botswana ,2351627,0.0208,47930,4,566730,3000,2.9,24,0.73,0.0003

144,Gambia ,2416668,0.0294,68962,239,10120,-3087,5.3,18,0.59,0.0003

143,Namibia ,2540905,0.0186,46375,3,823290,-4806,3.4,22,0.55,0.0003

142,Lithuania ,2722289,-0.0135,-37338,43,62674,-32780,1.7,45,0.71,0.0003

141,Puerto Rico ,2860853,-0.0247,-72555,323,8870,-97986,1.2,44,N.A. ,0.0004

140,Albania ,2877797,-0.0011,-3120,105,27400,-14000,1.6,36,0.63,0.0004

139,Qatar ,2881053,0.0173,48986,248,11610,40000,1.9,32,0.96,0.0004

138,Jamaica ,2961167,0.0044,12888,273,10830,-11332,2,31,0.55,0.0004

137,Armenia ,2963243,0.0019,5512,104,28470,-4998,1.8,35,0.63,0.0004

136,Mongolia ,3278290,0.0165,53123,2,1553560,-852,2.9,28,0.67,0.0004

135,Bosnia and Herzegovina ,3280819,-0.0061,-20181,64,51000,-21585,1.3,43,0.52,0.0004

134,Uruguay ,3473730,0.0035,11996,20,175020,-3000,2,36,0.96,0.0004

133,Eritrea ,3546421,0.0141,49304,35,101000,-39858,4.1,19,0.63,0.0005

132,Georgia ,3989167,-0.0019,-7598,57,69490,-10000,2.1,38,0.58,0.0005

131,Moldova ,4033963,-0.0023,-9300,123,32850,-1387,1.3,38,0.43,0.0005

130,Croatia ,4105267,-0.0061,-25037,73,55960,-8001,1.4,44,0.58,0.0005

129,Kuwait ,4270571,0.0151,63488,240,17820,39520,2.1,37,N.A. ,0.0005

128,Panama ,4314767,0.0161,68328,58,74340,11200,2.5,30,0.68,0.0006

127,Mauritania ,4649658,0.0274,123962,5,1030700,5000,4.6,20,0.57,0.0006

126,New Zealand ,4822233,0.0082,39170,18,263310,14881,1.9,38,0.87,0.0006

125,Central African Republic ,4829767,0.0178,84582,8,622980,-40000,4.8,18,0.43,0.0006

124,Ireland ,4937786,0.0113,55291,72,68890,23604,1.8,38,0.63,0.0006

123,Liberia ,5057681,0.0244,120307,53,96320,-5000,4.4,19,0.53,0.0006

122,Costa Rica ,5094118,0.0092,46557,100,51060,4200,1.8,33,0.8,0.0007

121,State of Palestine ,5101414,0.0241,119994,847,6020,-10563,3.7,21,0.8,0.0007

120,Oman ,5106626,0.0265,131640,16,309500,87400,2.9,31,0.87,0.0007

119,Norway ,5421241,0.0079,42384,15,365268,28000,1.7,40,0.83,0.0007

118,Slovakia ,5459642,0.0005,2629,114,48088,1485,1.5,41,0.54,0.0007

117,Congo ,5518087,0.0256,137579,16,341500,-4000,4.5,19,0.7,0.0007

116,Finland ,5540720,0.0015,8564,18,303890,14000,1.5,43,0.86,0.0007

115,Denmark ,5792202,0.0035,20326,137,42430,15200,1.8,42,0.88,0.0007

114,Singapore ,5850342,0.0079,46005,8358,700,27028,1.2,42,N.A. ,0.0008

113,Turkmenistan ,6031200,0.015,89111,13,469930,-5000,2.8,27,0.53,0.0008

112,El Salvador ,6486205,0.0051,32652,313,20720,-40539,2.1,28,0.73,0.0008

111,Kyrgyzstan ,6524195,0.0169,108345,34,191800,-4000,3,26,0.36,0.0008

110,Nicaragua ,6624554,0.0121,79052,55,120340,-21272,2.4,26,0.57,0.0008

109,Lebanon ,6825445,-0.0044,-30268,667,10230,-30012,2.1,30,0.78,0.0009

108,Libya ,6871292,0.0138,93840,4,1759540,-1999,2.3,29,0.78,0.0009

107,Bulgaria ,6948445,-0.0074,-51674,64,108560,-4800,1.6,45,0.76,0.0009

106,Paraguay ,7132538,0.0125,87902,18,397300,-16556,2.4,26,0.62,0.0009

105,Laos ,7275560,0.0148,106105,32,230800,-14704,2.7,24,0.36,0.0009

104,Hong Kong ,7496981,0.0082,60827,7140,1050,29308,1.3,45,N.A. ,0.001

103,Sierra Leone ,7976983,0.021,163768,111,72180,-4200,4.3,19,0.43,0.001

102,Togo ,8278724,0.0243,196358,152,54390,-2000,4.4,19,0.43,0.0011

101,Switzerland ,8654622,0.0074,63257,219,39516,52000,1.5,43,0.74,0.0011

100,Israel ,8655535,0.016,136158,400,21640,10000,3,30,0.93,0.0011

99,Serbia ,8737371,-0.004,-34864,100,87460,4000,1.5,42,0.56,0.0011

98,Papua New Guinea ,8947024,0.0195,170915,20,452860,-800,3.6,22,0.13,0.0011

97,Austria ,9006398,0.0057,51296,109,82409,65000,1.5,43,0.57,0.0012

96,Belarus ,9449323,-0.0003,-3088,47,202910,8730,1.7,40,0.79,0.0012

95,Tajikistan ,9537645,0.0232,216627,68,139960,-20000,3.6,22,0.27,0.0012

94,Hungary ,9660351,-0.0025,-24328,107,90530,6000,1.5,43,0.72,0.0012

93,United Arab Emirates ,9890402,0.0123,119873,118,83600,40000,1.4,33,0.86,0.0013

92,Honduras ,9904607,0.0163,158490,89,111890,-6800,2.5,24,0.57,0.0013

91,Sweden ,10099265,0.0063,62886,25,410340,40000,1.9,41,0.88,0.0013

90,Azerbaijan ,10139177,0.0091,91459,123,82658,1200,2.1,32,0.56,0.0013

89,Portugal ,10196709,-0.0029,-29478,111,91590,-6000,1.3,46,0.66,0.0013

88,Jordan ,10203134,0.01,101440,115,88780,10220,2.8,24,0.91,0.0013

87,Greece ,10423054,-0.0048,-50401,81,128900,-16000,1.3,46,0.85,0.0013

86,Czech Republic (Czechia) ,10708981,0.0018,19772,139,77240,22011,1.6,43,0.74,0.0014

85,Dominican Republic ,10847910,0.0101,108952,225,48320,-30000,2.4,28,0.85,0.0014

84,South Sudan ,11193725,0.0119,131612,18,610952,-174200,4.7,19,0.25,0.0014

83,Cuba ,11326616,-0.0006,-6867,106,106440,-14400,1.6,42,0.78,0.0015

82,Haiti ,11402528,0.0124,139451,414,27560,-35000,3,24,0.57,0.0015

81,Belgium ,11589623,0.0044,50295,383,30280,48000,1.7,42,0.98,0.0015

80,Bolivia ,11673021,0.0139,159921,11,1083300,-9504,2.8,26,0.69,0.0015

79,Tunisia ,11818619,0.0106,123900,76,155360,-4000,2.2,33,0.7,0.0015

78,Burundi ,11890784,0.0312,360204,463,25680,2001,5.5,17,0.14,0.0015

77,Benin ,12123200,0.0273,322049,108,112760,-2000,4.9,19,0.48,0.0016

76,Rwanda ,12952218,0.0258,325268,525,24670,-9000,4.1,20,0.18,0.0017

75,Guinea ,13132795,0.0283,361549,53,245720,-4000,4.7,18,0.39,0.0017

74,Zimbabwe ,14862924,0.0148,217456,38,386850,-116858,3.6,19,0.38,0.0019

73,Somalia ,15893222,0.0292,450317,25,627340,-40000,6.1,17,0.47,0.002

72,Chad ,16425864,0.03,478988,13,1259200,2000,5.8,17,0.23,0.0021

71,Cambodia ,16718965,0.0141,232423,95,176520,-30000,2.5,26,0.24,0.0021

70,Senegal ,16743927,0.0275,447563,87,192530,-20000,4.7,19,0.49,0.0021

69,Netherlands ,17134872,0.0022,37742,508,33720,16000,1.7,43,0.92,0.0022

68,Syria ,17500658,0.0252,430523,95,183630,-427391,2.8,26,0.6,0.0022

67,Ecuador ,17643054,0.0155,269392,71,248360,36400,2.4,28,0.63,0.0023

66,Guatemala ,17915568,0.019,334096,167,107160,-9215,2.9,23,0.52,0.0023

65,Zambia ,18383955,0.0293,522925,25,743390,-8000,4.7,18,0.45,0.0024

64,Kazakhstan ,18776707,0.0121,225280,7,2699700,-18000,2.8,31,0.58,0.0024

63,Chile ,19116201,0.0087,164163,26,743532,111708,1.7,35,0.85,0.0025

62,Malawi ,19129952,0.0269,501205,203,94280,-16053,4.3,18,0.18,0.0025

61,Romania ,19237691,-0.0066,-126866,84,230170,-73999,1.6,43,0.55,0.0025

60,Mali ,20250833,0.0302,592802,17,1220190,-40000,5.9,16,0.44,0.0026

59,Burkina Faso ,20903273,0.0286,581895,76,273600,-25000,5.2,18,0.31,0.0027

58,Sri Lanka ,21413249,0.0042,89516,341,62710,-97986,2.2,34,0.18,0.0027

57,Taiwan ,23816775,0.0018,42899,673,35410,30001,1.2,42,0.79,0.0031

56,Niger ,24206644,0.0384,895929,19,1266700,4000,7,15,0.17,0.0031

55,Australia ,25499884,0.0118,296686,3,7682300,158246,1.8,38,0.86,0.0033

54,North Korea ,25778816,0.0044,112655,214,120410,-5403,1.9,35,0.63,0.0033

53,CÃ´te d'Ivoire ,26378274,0.0257,661730,83,318000,-8000,4.7,19,0.51,0.0034

52,Cameroon ,26545863,0.0259,669483,56,472710,-4800,4.6,19,0.56,0.0034

51,Madagascar ,27691018,0.0268,721711,48,581795,-1500,4.1,20,0.39,0.0036

50,Venezuela ,28435940,-0.0028,-79889,32,882050,-653249,2.3,30,N.A. ,0.0036

49,Nepal ,29136808,0.0185,528098,203,143350,41710,1.9,25,0.21,0.0037

48,Yemen ,29825964,0.0228,664042,56,527970,-30000,3.8,20,0.38,0.0038

47,Ghana ,31072940,0.0215,655084,137,227540,-10000,3.9,22,0.57,0.004

46,Mozambique ,31255435,0.0293,889399,40,786380,-5000,4.9,18,0.38,0.004

45,Malaysia ,32365999,0.013,416222,99,328550,50000,2,30,0.78,0.0042

44,Angola ,32866272,0.0327,1040977,26,1246700,6413,5.6,17,0.67,0.0042

43,Peru ,32971854,0.0142,461401,26,1280000,99069,2.3,31,0.79,0.0042

42,Uzbekistan ,33469203,0.0148,487487,79,425400,-8863,2.4,28,0.5,0.0043

41,Saudi Arabia ,34813871,0.0159,545343,16,2149690,134979,2.3,32,0.84,0.0045

40,Morocco ,36910560,0.012,438791,83,446300,-51419,2.4,30,0.64,0.0047

39,Canada ,37742154,0.0089,331107,4,9093510,242032,1.5,41,0.81,0.0048

38,Poland ,37846611,-0.0011,-41157,124,306230,-29395,1.4,42,0.6,0.0049

37,Afghanistan ,38928346,0.0233,886592,60,652860,-62920,4.6,18,0.25,0.005

36,Iraq ,40222493,0.0232,912710,93,434320,7834,3.7,21,0.73,0.0052

35,Ukraine ,43733762,-0.0059,-259876,75,579320,10000,1.4,41,0.69,0.0056

34,Sudan ,43849260,0.0242,1036022,25,1765048,-50000,4.4,20,0.35,0.0056

33,Algeria ,43851044,0.0185,797990,18,2381740,-10000,3.1,29,0.73,0.0056

32,Argentina ,45195774,0.0093,415097,17,2736690,4800,2.3,32,0.93,0.0058

31,Uganda ,45741007,0.0332,1471413,229,199810,168694,5,17,0.26,0.0059

30,Spain ,46754778,0.0004,18002,94,498800,40000,1.3,45,0.8,0.006

29,Colombia ,50882891,0.0108,543448,46,1109500,204796,1.8,31,0.8,0.0065

28,South Korea ,51269185,0.0009,43877,527,97230,11731,1.1,44,0.82,0.0066

27,Kenya ,53771296,0.0228,1197323,94,569140,-10000,3.5,20,0.28,0.0069

26,Myanmar ,54409800,0.0067,364380,83,653290,-163313,2.2,29,0.31,0.007

25,South Africa ,59308690,0.0128,750420,49,1213090,145405,2.4,28,0.67,0.0076

24,Tanzania ,59734218,0.0298,1728755,67,885800,-40076,4.9,18,0.37,0.0077

23,Italy ,60461826,-0.0015,-88249,206,294140,148943,1.3,47,0.69,0.0078

22,France ,65273511,0.0022,143783,119,547557,36527,1.9,42,0.82,0.0084

21,United Kingdom ,67886011,0.0053,355839,281,241930,260650,1.8,40,0.83,0.0087

20,Thailand ,69799978,0.0025,174396,137,510890,19444,1.5,40,0.51,0.009

19,Germany ,83783942,0.0032,266897,240,348560,543822,1.6,46,0.76,0.0107

18,Iran ,83992949,0.013,1079043,52,1628550,-55000,2.2,32,0.76,0.0108

17,Turkey ,84339067,0.0109,909452,110,769630,283922,2.1,32,0.76,0.0108

16,DR Congo ,89561403,0.0319,2770836,40,2267050,23861,6,17,0.46,0.0115

15,Vietnam ,97338579,0.0091,876473,314,310070,-80000,2.1,32,0.38,0.0125

14,Egypt ,102334404,0.0194,1946331,103,995450,-38033,3.3,25,0.43,0.0131

13,Philippines ,109581078,0.0135,1464463,368,298170,-67152,2.6,26,0.47,0.0141

12,Ethiopia ,114963588,0.0257,2884858,115,1000000,30000,4.3,19,0.21,0.0147

11,Japan ,126476461,-0.003,-383840,347,364555,71560,1.4,48,0.92,0.0162

10,Mexico ,128932753,0.0106,1357224,66,1943950,-60000,2.1,29,0.84,0.0165

9,Russia ,145934462,0.0004,62206,9,16376870,182456,1.8,40,0.74,0.0187

8,Bangladesh ,164689383,0.0101,1643222,1265,130170,-369501,2.1,28,0.39,0.0211

7,Nigeria ,206139589,0.0258,5175990,226,910770,-60000,5.4,18,0.52,0.0264

6,Brazil ,212559417,0.0072,1509890,25,8358140,21200,1.7,33,0.88,0.0273

5,Pakistan ,220892340,0.02,4327022,287,770880,-233379,3.6,23,0.35,0.0283

4,Indonesia ,273523615,0.0107,2898047,151,1811570,-98955,2.3,30,0.56,0.0351

3,United States ,331002651,0.0059,1937734,36,9147420,954806,1.8,38,0.83,0.0425

2,India ,1380004385,0.0099,13586631,464,2973190,-532687,2.2,28,0.35,0.177

1,China ,1439323776,0.0039,5540090,153,9388211,-348399,1.7,38,0.61,0.1847

In [28]:
import os
import sqlite3

235 Holy See  801 0.0025 2 2003 0
             N.A.  N.A.  N.A.  0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (235,'Holy See',801,0.0025,2,2003,0,0,
            0,0,0,0.0);
234 Tokelau  1357 0.0127 17 136 10
             N.A.  N.A.  0 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (234,'Tokelau',1357,0.0127,17,136,10,0,
            0,0,0.0,0.0);
233 Niue  1626 0.0068 11 6 260
             N.A.  N.A.  0.46 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (233,'Niue',1626,0.0068,11,6,260,0,
            0,0,0.46,0.0);
232 Falkland Islands  3480 0.0305 103 0 12170
             N.A.  N.A.  0.66 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (232,'Falkland Islands',3480,0.0305,103,0,12170,0,
            0,0,0.66,0.0);
231 Montserrat  4992 0.0006 3 50 100
             N.A.  N.A.  0.1 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (231,'Montserrat',4992,0.0006,3,50,100,0,
            0,0,0.1,0.0);
230 Saint Pierre & Miquelon  5794 -0.0048 -28 25 230
             N.A.  N.A.  1 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (230,'Saint Pierre & Miquelon',5794,-0.0048,-28,25,230,0,
            0,0,1.0,0.0);
229 Saint Helena  6077 0.003 18 16 390
             N.A.  N.A.  0.27 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (229,'Saint Helena',6077,0.003,18,16,390,0,
            0,0,0.27,0.0);
228 Saint Barthelemy  9877 0.003 30 470 21
             N.A.  N.A.  0 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (228,'Saint Barthelemy',9877,0.003,30,470,21,0,
            0,0,0.0,0.0);
227 Nauru  10824 0.0063 68 541 20
             N.A.  N.A.  N.A.  0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (227,'Nauru',10824,0.0063,68,541,20,0,
            0,0,0,0.0);
226 Wallis & Futuna  11239 -0.0169 -193 80 140
             N.A.  N.A.  0 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (226,'Wallis & Futuna',11239,-0.0169,-193,80,140,0,
            0,0,0.0,0.0);
225 Tuvalu  11792 0.0125 146 393 30
             N.A.  N.A.  0.62 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (225,'Tuvalu',11792,0.0125,146,393,30,0,
            0,0,0.62,0.0);
224 Anguilla  15003 0.009 134 167 90
             N.A.  N.A.  N.A.  0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (224,'Anguilla',15003,0.009,134,167,90,0,
            0,0,0,0.0);
223 Cook Islands  17564 0.0009 16 73 240
             N.A.  N.A.  0.75 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (223,'Cook Islands',17564,0.0009,16,73,240,0,
            0,0,0.75,0.0);
222 Palau  18094 0.0048 86 39 460
             N.A.  N.A.  N.A.  0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (222,'Palau',18094,0.0048,86,39,460,0,
            0,0,0,0.0);
221 Caribbean Netherlands  26223 0.0094 244 80 328
             N.A.  N.A.  0.75 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (221,'Caribbean Netherlands',26223,0.0094,244,80,328,0,
            0,0,0.75,0.0);
220 British Virgin Islands  30231 0.0067 201 202 150
             N.A.  N.A.  0.52 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (220,'British Virgin Islands',30231,0.0067,201,202,150,0,
            0,0,0.52,0.0);
219 Gibraltar  33691 -0.0003 -10 3369 10
             N.A.  N.A.  N.A.  0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (219,'Gibraltar',33691,-0.0003,-10,3369,10,0,
            0,0,0,0.0);
218 San Marino  33931 0.0021 71 566 60
             N.A.  N.A.  0.97 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (218,'San Marino',33931,0.0021,71,566,60,0,
            0,0,0.97,0.0);
217 Liechtenstein  38128 0.0029 109 238 160
             N.A.  N.A.  0.15 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (217,'Liechtenstein',38128,0.0029,109,238,160,0,
            0,0,0.15,0.0);
216 Saint Martin  38666 0.0175 664 730 53
             N.A.  N.A.  0 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (216,'Saint Martin',38666,0.0175,664,730,53,0,
            0,0,0.0,0.0);
215 Turks and Caicos  38717 0.0138 526 41 950
             N.A.  N.A.  0.89 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (215,'Turks and Caicos',38717,0.0138,526,41,950,0,
            0,0,0.89,0.0);
214 Monaco  39242 0.0071 278 26337 1
             N.A.  N.A.  N.A.  0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (214,'Monaco',39242,0.0071,278,26337,1,0,
            0,0,0,0.0);
213 Sint Maarten  42876 0.0115 488 1261 34
             N.A.  N.A.  0.96 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (213,'Sint Maarten',42876,0.0115,488,1261,34,0,
            0,0,0.96,0.0);
212 Faeroe Islands  48863 0.0038 185 35 1396
             N.A.  N.A.  0.43 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (212,'Faeroe Islands',48863,0.0038,185,35,1396,0,
            0,0,0.43,0.0);
211 Saint Kitts & Nevis  53199 0.0071 376 205 260
             N.A.  N.A.  0.33 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (211,'Saint Kitts & Nevis',53199,0.0071,376,205,260,0,
            0,0,0.33,0.0);
210 American Samoa  55191 -0.0022 -121 276 200
             N.A.  N.A.  0.88 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (210,'American Samoa',55191,-0.0022,-121,276,200,0,
            0,0,0.88,0.0);
209 Greenland  56770 0.0017 98 0 410450
             N.A.  N.A.  0.87 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (209,'Greenland',56770,0.0017,98,0,410450,0,
            0,0,0.87,0.0);
208 Northern Mariana Islands  57559 0.006 343 125 460
             N.A.  N.A.  0.88 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (208,'Northern Mariana Islands',57559,0.006,343,125,460,0,
            0,0,0.88,0.0);
207 Marshall Islands  59190 0.0068 399 329 180
             N.A.  N.A.  0.7 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (207,'Marshall Islands',59190,0.0068,399,329,180,0,
            0,0,0.7,0.0);
206 Bermuda  62278 -0.0036 -228 1246 50
             N.A.  N.A.  0.97 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (206,'Bermuda',62278,-0.0036,-228,1246,50,0,
            0,0,0.97,0.0);
205 Cayman Islands  65722 0.0119 774 274 240
             N.A.  N.A.  0.97 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (205,'Cayman Islands',65722,0.0119,774,274,240,0,
            0,0,0.97,0.0);
204 Dominica  71986 0.0025 178 96 750
             N.A.  N.A.  0.74 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (204,'Dominica',71986,0.0025,178,96,750,0,
            0,0,0.74,0.0);
203 Andorra  77265 0.0016 123 164 470
             N.A.  N.A.  0.88 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (203,'Andorra',77265,0.0016,123,164,470,0,
            0,0,0.88,0.0);
202 Isle of Man  85033 0.0053 449 149 570
             N.A.  N.A.  0.53 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (202,'Isle of Man',85033,0.0053,449,149,570,0,
            0,0,0.53,0.0);
201 Antigua and Barbuda  97929 0.0084 811 223 440
            0 2 34 0.26 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (201,'Antigua and Barbuda',97929,0.0084,811,223,440,0.0,
            2.0,34.0,0.26,0.0);
200 Seychelles  98347 0.0062 608 214 460
            -200 2.5 34 0.56 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (200,'Seychelles',98347,0.0062,608,214,460,-200.0,
            2.5,34.0,0.56,0.0);
199 U.S. Virgin Islands  104425 -0.0015 -153 298 350
            -451 2 43 0.96 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (199,'U.S. Virgin Islands',104425,-0.0015,-153,298,350,-451.0,
            2.0,43.0,0.96,0.0);
198 Tonga  105695 0.0115 1201 147 720
            -800 3.6 22 0.24 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (198,'Tonga',105695,0.0115,1201,147,720,-800.0,
            3.6,22.0,0.24,0.0);
197 Aruba  106766 0.0043 452 593 180
            201 1.9 41 0.44 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (197,'Aruba',106766,0.0043,452,593,180,201.0,
            1.9,41.0,0.44,0.0);
196 St. Vincent & Grenadines  110940 0.0032 351 284 390
            -200 1.9 33 0.53 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (196,'St. Vincent & Grenadines',110940,0.0032,351,284,390,-200.0,
            1.9,33.0,0.53,0.0);
195 Grenada  112523 0.0046 520 331 340
            -200 2.1 32 0.35 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (195,'Grenada',112523,0.0046,520,331,340,-200.0,
            2.1,32.0,0.35,0.0);
194 Kiribati  119449 0.0157 1843 147 810
            -800 3.6 23 0.57 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (194,'Kiribati',119449,0.0157,1843,147,810,-800.0,
            3.6,23.0,0.57,0.0);
193 CuraÃ§ao  164093 0.0041 669 370 444
            515 1.8 42 0.89 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (193,'CuraÃ§ao',164093,0.0041,669,370,444,515.0,
            1.8,42.0,0.89,0.0);
192 Guam  168775 0.0089 1481 313 540
            -506 2.3 31 0.95 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (192,'Guam',168775,0.0089,1481,313,540,-506.0,
            2.3,31.0,0.95,0.0);
191 Channel Islands  173863 0.0093 1604 915 190
            1351 1.5 43 0.3 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (191,'Channel Islands',173863,0.0093,1604,915,190,1351.0,
            1.5,43.0,0.3,0.0);
190 Saint Lucia  183627 0.0046 837 301 610
            0 1.4 34 0.19 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (190,'Saint Lucia',183627,0.0046,837,301,610,0.0,
            1.4,34.0,0.19,0.0);
189 Samoa  198414 0.0067 1317 70 2830
            -2803 3.9 22 0.18 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (189,'Samoa',198414,0.0067,1317,70,2830,-2803.0,
            3.9,22.0,0.18,0.0);
188 Sao Tome & Principe  219159 0.0191 4103 228 960
            -1680 4.4 19 0.74 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (188,'Sao Tome & Principe',219159,0.0191,4103,228,960,-1680.0,
            4.4,19.0,0.74,0.0);
187 Mayotte  272815 0.025 6665 728 375
            0 3.7 20 0.46 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (187,'Mayotte',272815,0.025,6665,728,375,0.0,
            3.7,20.0,0.46,0.0);
186 French Polynesia  280908 0.0058 1621 77 3660
            -1000 2 34 0.64 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (186,'French Polynesia',280908,0.0058,1621,77,3660,-1000.0,
            2.0,34.0,0.64,0.0);
185 New Caledonia  285498 0.0097 2748 16 18280
            502 2 34 0.72 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (185,'New Caledonia',285498,0.0097,2748,16,18280,502.0,
            2.0,34.0,0.72,0.0);
184 Barbados  287375 0.0012 350 668 430
            -79 1.6 40 0.31 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (184,'Barbados',287375,0.0012,350,668,430,-79.0,
            1.6,40.0,0.31,0.0);
183 French Guiana  298682 0.027 7850 4 82200
            1200 3.4 25 0.87 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (183,'French Guiana',298682,0.027,7850,4,82200,1200.0,
            3.4,25.0,0.87,0.0);
182 Vanuatu  307145 0.0242 7263 25 12190
            120 3.8 21 0.24 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (182,'Vanuatu',307145,0.0242,7263,25,12190,120.0,
            3.8,21.0,0.24,0.0);
181 Iceland  341243 0.0065 2212 3 100250
            380 1.8 37 0.94 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (181,'Iceland',341243,0.0065,2212,3,100250,380.0,
            1.8,37.0,0.94,0.0);
180 Martinique  375265 -0.0008 -289 354 1060
            -960 1.9 47 0.92 0

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (180,'Martinique',375265,-0.0008,-289,354,1060,-960.0,
            1.9,47.0,0.92,0.0);
179 Bahamas  393244 0.0097 3762 39 10010
            1000 1.8 32 0.86 0.0001

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (179,'Bahamas',393244,0.0097,3762,39,10010,1000.0,
            1.8,32.0,0.86,0.0001);
178 Belize  397628 0.0186 7275 17 22810
            1200 2.3 25 0.46 0.0001

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (178,'Belize',397628,0.0186,7275,17,22810,1200.0,
            2.3,25.0,0.46,0.0001);
177 Guadeloupe  400124 0.0002 68 237 1690
            -1440 2.2 44 N.A.  0.0001

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (177,'Guadeloupe',400124,0.0002,68,237,1690,-1440.0,
            2.2,44.0,0,0.0001);
176 Brunei  437479 0.0097 4194 83 5270
            0 1.8 32 0.8 0.0001

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (176,'Brunei',437479,0.0097,4194,83,5270,0.0,
            1.8,32.0,0.8,0.0001);
175 Malta  441543 0.0027 1171 1380 320
            900 1.5 43 0.93 0.0001


1 - Print the top 20 countries by population - Output in millions.

In [62]:
import os
import sqlite3

China - population in mm 1439.323776
India - population in mm 1380.004385
United States - population in mm 331.002651
Indonesia - population in mm 273.523615
Pakistan - population in mm 220.89234
Brazil - population in mm 212.559417
Nigeria - population in mm 206.139589
Bangladesh - population in mm 164.689383
Russia - population in mm 145.934462
Mexico - population in mm 128.932753
Japan - population in mm 126.476461
Ethiopia - population in mm 114.963588
Philippines - population in mm 109.581078
Egypt - population in mm 102.334404
Vietnam - population in mm 97.338579
DR Congo - population in mm 89.561403
Turkey - population in mm 84.339067
Iran - population in mm 83.992949
Germany - population in mm 83.783942
Thailand - population in mm 69.799978
United Kingdom - population in mm 67.886011
France - population in mm 65.273511
Italy - population in mm 60.461826
Tanzania - population in mm 59.734218
South Africa - population in mm 59.30869
Myanmar - population in mm 54.4098
Kenya - population in mm 53.771296
South Korea - population in mm 51.269185
Colombia - population in mm 50.882891
Spain - population in mm 46.754778
Uganda - population in mm 45.741007
Argentina - population in mm 45.195774
Algeria - population in mm 43.851044
Sudan - population in mm 43.84926
Ukraine - population in mm 43.733762
Iraq - population in mm 40.222493
Afghanistan - population in mm 38.928346
Poland - population in mm 37.846611
Canada - population in mm 37.742154
Morocco - population in mm 36.91056
Saudi Arabia - population in mm 34.813871
Uzbekistan - population in mm 33.469203
Peru - population in mm 32.971854
Angola - population in mm 32.866272
Malaysia - population in mm 32.365999
Mozambique - population in mm 31.255435
Ghana - population in mm 31.07294
Yemen - population in mm 29.825964
Nepal - population in mm 29.136808
Venezuela - population in mm 28.43594
Madagascar - population in mm 27.691018
Cameroon - population in mm 26.545863
CÃ´te d Ivoire - population in mm 26.378274
North Korea - population in mm 25.778816
Australia - population in mm 25.499884
Niger - population in mm 24.206644
Taiwan - population in mm 23.816775
Sri Lanka - population in mm 21.413249
Burkina Faso - population in mm 20.903273
Mali - population in mm 20.250833
Romania - population in mm 19.237691
Malawi - population in mm 19.129952
Chile - population in mm 19.116201
Kazakhstan - population in mm 18.776707
Zambia - population in mm 18.383955
Guatemala - population in mm 17.915568
Ecuador - population in mm 17.643054
Syria - population in mm 17.500658
Netherlands - population in mm 17.134872
Senegal - population in mm 16.743927
Cambodia - population in mm 16.718965
Chad - population in mm 16.425864
Somalia - population in mm 15.893222
Zimbabwe - population in mm 14.862924
Guinea - population in mm 13.132795
Rwanda - population in mm 12.952218
Benin - population in mm 12.1232
Burundi - population in mm 11.890784
Tunisia - population in mm 11.818619
Bolivia - population in mm 11.673021
Belgium - population in mm 11.589623
Haiti - population in mm 11.402528
Cuba - population in mm 11.326616
South Sudan - population in mm 11.193725
Dominican Republic - population in mm 10.84791
Czech Republic (Czechia) - population in mm 10.708981
Greece - population in mm 10.423054
Jordan - population in mm 10.203134
Portugal - population in mm 10.196709
Azerbaijan - population in mm 10.139177
Sweden - population in mm 10.099265
Honduras - population in mm 9.904607
United Arab Emirates - population in mm 9.890402
Hungary - population in mm 9.660351
Tajikistan - population in mm 9.537645
Belarus - population in mm 9.449323
Austria - population in mm 9.006398
Papua New Guinea - population in mm 8.947024
Serbia - population in mm 8.737371
Israel - population in mm 8.655535
Switzerland - population in mm 8.654622
Togo - population in mm 8.278724
Sierra Leone - population in mm 7.976983
Hong Kong - population in mm 7.496981
Laos - population in mm 7.27556
Paraguay - population in mm 7.132538
Bulgaria - population in mm 6.948445
Libya - population in mm 6.871292
Lebanon - population in mm 6.825445
Nicaragua - population in mm 6.624554
Kyrgyzstan - population in mm 6.524195
El Salvador - population in mm 6.486205
Turkmenistan - population in mm 6.0312
Singapore - population in mm 5.850342
Denmark - population in mm 5.792202
Finland - population in mm 5.54072
Congo - population in mm 5.518087
Slovakia - population in mm 5.459642
Norway - population in mm 5.421241
Oman - population in mm 5.106626
State of Palestine - population in mm 5.101414
Costa Rica - population in mm 5.094118
Liberia - population in mm 5.057681
Ireland - population in mm 4.937786
Central African Republic - population in mm 4.829767
New Zealand - population in mm 4.822233
Mauritania - population in mm 4.649658
Panama - population in mm 4.314767
Kuwait - population in mm 4.270571
Croatia - population in mm 4.105267
Moldova - population in mm 4.033963
Georgia - population in mm 3.989167
Eritrea - population in mm 3.546421
Uruguay - population in mm 3.47373
Bosnia and Herzegovina - population in mm 3.280819
Mongolia - population in mm 3.27829
Armenia - population in mm 2.963243
Jamaica - population in mm 2.961167
Qatar - population in mm 2.881053
Albania - population in mm 2.877797
Puerto Rico - population in mm 2.860853
Lithuania - population in mm 2.722289
Namibia - population in mm 2.540905
Gambia - population in mm 2.416668
Botswana - population in mm 2.351627
Gabon - population in mm 2.225734
Lesotho - population in mm 2.142249
North Macedonia - population in mm 2.083374
Slovenia - population in mm 2.078938
Guinea-Bissau - population in mm 1.968001
Latvia - population in mm 1.886198
Bahrain - population in mm 1.701575
Equatorial Guinea - population in mm 1.402985
Trinidad and Tobago - population in mm 1.399488
Estonia - population in mm 1.326535
Timor-Leste - population in mm 1.318445
Mauritius - population in mm 1.271768
Cyprus - population in mm 1.207359
Eswatini - population in mm 1.160164
Djibouti - population in mm 0.988
Fiji - population in mm 0.896445
RÃ©union - population in mm 0.895312
Comoros - population in mm 0.869601
Guyana - population in mm 0.786552
Bhutan - population in mm 0.771608
Solomon Islands - population in mm 0.686884
Macao - population in mm 0.649335
Montenegro - population in mm 0.628066
Luxembourg - population in mm 0.625978
Western Sahara - population in mm 0.597339
Suriname - population in mm 0.586632
Cabo Verde - population in mm 0.555987
Micronesia - population in mm 0.548914
Maldives - population in mm 0.540544
Malta - population in mm 0.441543
Brunei - population in mm 0.437479
Guadeloupe - population in mm 0.400124
Belize - population in mm 0.397628
Bahamas - population in mm 0.393244
Martinique - population in mm 0.375265
Iceland - population in mm 0.341243
Vanuatu - population in mm 0.307145
French Guiana - population in mm 0.298682
Barbados - population in mm 0.287375
New Caledonia - population in mm 0.285498
French Polynesia - population in mm 0.280908
Mayotte - population in mm 0.272815
Sao Tome & Principe - population in mm 0.219159
Samoa - population in mm 0.198414
Saint Lucia - population in mm 0.183627
Channel Islands - population in mm 0.173863
Guam - population in mm 0.168775
CuraÃ§ao - population in mm 0.164093
Kiribati - population in mm 0.119449
Grenada - population in mm 0.112523
St. Vincent & Grenadines - population in mm 0.11094
Aruba - population in mm 0.106766
Tonga - population in mm 0.105695
U.S. Virgin Islands - population in mm 0.104425
Seychelles - population in mm 0.098347
Antigua and Barbuda - population in mm 0.097929
Isle of Man - population in mm 0.085033
Andorra - population in mm 0.077265
Dominica - population in mm 0.071986
Cayman Islands - population in mm 0.065722
Bermuda - population in mm 0.062278
Marshall Islands - population in mm 0.05919
Northern Mariana Islands - population in mm 0.057559
Greenland - population in mm 0.05677
American Samoa - population in mm 0.055191
Saint Kitts & Nevis - population in mm 0.053199
Faeroe Islands - population in mm 0.048863
Sint Maarten - population in mm 0.042876
Monaco - population in mm 0.039242
Turks and Caicos - population in mm 0.038717
Saint Martin - population in mm 0.038666
Liechtenstein - population in mm 0.038128
San Marino - population in mm 0.033931
Gibraltar - population in mm 0.033691
British Virgin Islands - population in mm 0.030231
Caribbean Netherlands - population in mm 0.026223
Palau - population in mm 0.018094
Cook Islands - population in mm 0.017564
Anguilla - population in mm 0.015003
Tuvalu - population in mm 0.011792
Wallis & Futuna - population in mm 0.011239
Nauru - population in mm 0.010824
Saint Barthelemy - population in mm 0.009877
Saint Helena - population in mm 0.006077
Saint Pierre & Miquelon - population in mm 0.005794
Montserrat - population in mm 0.004992
Falkland Islands - population in mm 0.00348
Niue - population in mm 0.001626
Tokelau - population in mm 0.001357
Holy See - population in mm 0.000801

2 - What is the total world population<br>

In [34]:
import os
import sqlite3

7795232630

3 - Top 10 countries by median age<br>

In [63]:
import os
import sqlite3

Japan - median age is 48
Martinique - median age is 47
Italy - median age is 47
Portugal - median age is 46
Greece - median age is 46
Germany - median age is 46
Slovenia - median age is 45
Lithuania - median age is 45
Bulgaria - median age is 45
Hong Kong - median age is 45

4 - Top 10 countries where people left<br>

In [66]:
import os
import sqlite3

Japan - people who left -383840
Ukraine - people who left -259876
Romania - people who left -126866
Italy - people who left -88249
Venezuela - people who left -79889
Puerto Rico - people who left -72555
Bulgaria - people who left -51674
Greece - people who left -50401
Poland - people who left -41157
Lithuania - people who left -37338

5 - Top 10 countries who took in migrants<br>

In [69]:
import os
import sqlite3

United States - migrants 954806
Germany - migrants 543822
Turkey - migrants 283922
United Kingdom - migrants 260650
Canada - migrants 242032
Colombia - migrants 204796
Russia - migrants 182456
Uganda - migrants 168694
Australia - migrants 158246
Italy - migrants 148943

6 - Which countries with a population less than 10 million had the largest year_change pct<br>

In [70]:
import os
import sqlite3

Bahrain - year change 0.0368 - population - 1701575
Equatorial Guinea - year change 0.0347 - population - 1402985
Falkland Islands - year change 0.0305 - population - 3480
Gambia - year change 0.0294 - population - 2416668
Mauritania - year change 0.0274 - population - 4649658
French Guiana - year change 0.027 - population - 298682
Oman - year change 0.0265 - population - 5106626
Congo - year change 0.0256 - population - 5518087
Western Sahara - year change 0.0255 - population - 597339
Solomon Islands - year change 0.0255 - population - 686884

<h2>Exercise</h2>
Find the position of the 2 character string '20' 
in the following:
<br>
<code>
stringOfNumbers = '32040230213340205020112'
</code>

<h4>Solution</h4>

In [71]:
stringOfNumbers = '32040230213340205020112'

1 20
2 20
3 20
There are 3 - 20's found in the following positions [1, 14, 18]

This notebook is part of a course at www.codeimmersives.com called SQL-NOSQL. If you accessed this notebook outside the course, you can get more information about this course online by clicking here.

<hr>

Copyright &copy; 2021  Code Immersives