<a href="https://codeimmersives.com"><img src = "https://www.codeimmersives.com/wp-content/uploads/2019/09/CodeImmersives_Logo_RGB_NYC_BW.png" width = 400> </a>


<h1 align=center><font size = 5>Agenda</font></h1>

## SQL Operations using Python

### Agenda
<div class="alert alert-block alert-info" style="margin-top: 20px">

1.  [Review](#0)<br>
2.  [Base Python Exercise 1](#1)<br>
3.  [Base Python Exercise 2](#2)<br>
4.  [Base Python Exercise 3](#3)<br>
5.  [SQLite Exercises 1](#10)<br>    
6.  [SQLite Exercises 2](#12)<br>
7.  [Exercises](#14)<br>
</div>
<hr>

<h2>Base Python Exercise 1</h2>
Calculate the mean, median, and mode of the following data set:<br>
<code>
numList = [88,89,90,93,84,86,88,91,88,87]

def calcMean(numList):
    pass
def calcMode(numList):
    pass
def calcMedian(numList):
    pass
"""
Call all of the functions below
"""
</code>

<h4>Solution</h4>

In [ ]:
import math

numList = [88,89,90,93,84,86,88,91,88,87]

def calcMean(li = []):
    sum = 0
    for x in li:
        sum += x
    mean = sum / len(li)

    print(mean)


def calcMedian(li=[]):
    li.sort()
    middleTwo = []
    if len(li)%2 == 0:
        for x in range(len(li)):
            if x == len(li)/2:
                middleTwo.append(li[x])

            elif x == ((len(li)/2) + 1):
                middleTwo.append(li[x])
                
        median = (middleTwo[0] + middleTwo[1]) / 2

    elif len(li) % 2 != 0:
        middle =int((len(li)/2) - .5)
        median = li[middle]

    print(median)
        

def calcMode(li=[]):
    setli = set(li)
    print(setli)
    mode = 1
    for x in setli:
        if li.count(x) > mode:
            mode = x
        elif li.count(x) = mode:
            mode = mode, ",", x
        else:
            mode = mode
    
    print(mode)

calcMean(numList)
calcMedian(numList)
calcMode(numList)

<h2>Base Python Exercise 2</h2>
Write code to identify all prime numbers from 1000 through 1100

In [74]:

numList2 = range(1000,1101)


def primeNums(li=[]):
    prime_nums = []
    for num in li:
        prime = True
        for x in range(2, num):
            if num % x == 0:
                prime = False
                break
        if prime == True:
            prime_nums.append(num)
    print(prime_nums)


primeNums(numList2)

[1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097]

<h2>Base Python Exercise 3</h2>
Using the code from above determine which prime numbers from above where the sum<br>
of their digits is also prime?<br>

In [117]:

def primeNum_digitsum_prime(li = []):
    prime_nums = []
    sum_prime = []
    for num in li:
        prime = True
        for x in range(2, num):
            if num % x == 0:
                prime = False
                break
        if prime == True:
            prime_nums.append(num)
            sum = 0
            for i in str(num):
                sum += int(i)
            # print(num)
            # print(sum)                
            for x in range(2, sum):
                if sum % x == 0:
                    prime = False
            if prime == False:
                continue
            if prime == True:
                sum_prime.append(num)
    print(prime_nums)
    print(sum_prime)

primeNum_digitsum_prime(numList2)

[1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097]
[1013, 1019, 1031, 1033, 1039, 1051, 1091, 1093, 1097]

<h2>Base Python Exercise 4</h2>
How do you select 5 volunteers from a list of students?<br>
students = ['Renee','Julia','Warren','Stacey','Charles','Linda','Dwight','Ann','Franklin','George','Walter','Susan']
<br>
Which students remained?

<h4>Solution</h4>

In [123]:
import random

students = ['Renee','Julia','Warren','Stacey','Charles','Linda','Dwight','Ann','Franklin','George','Walter','Susan']

def choose_random_volunteers(li = []):
    import random
    for x in range(1, 6):
        volunteer = random.choice(li)
        print(f'Volunteer #{x} is {volunteer}')
        li.remove(volunteer)
    print(f'The remaining students are: {li}')

choose_random_volunteers(students)

Volunteer #1 is Franklin
Volunteer #2 is Charles
Volunteer #3 is Warren
Volunteer #4 is George
Volunteer #5 is Dwight
The remaining students are: ['Renee', 'Julia', 'Stacey', 'Linda', 'Ann', 'Walter', 'Susan']

<h2>Exercise</h2>
Open the file World_country_populations<br>
And answer the following questions:<br>
1 - Print the top 20 countries by population - Output in millions.<br>
2 - What is the total world population<br>
3 - Top 10 countries by median age<br>
4 - Top 10 countries where people left<br>
5 - Top 10 countries who took in migrants<br>
6 - Which countries with a population less than 10 million had the largest year_change pct<br>

In [ ]:
import os
import sqlite3
import csv

work_dir = "/Users/yani/Desktop/PY-112-MySQL/"
db_name =  "world_populations.db"

print(work_dir + db_name)
conn = sqlite3.connect(work_dir + db_name)
c = conn.cursor()
c.execute('''Drop Table if Exists pop_data''')
c.executescript('''
    create table IF NOT EXISTS pop_data(
        num INTEGER,
        country TEXT,
        population INTEGER,
        year_change REAL,
        net_change INTEGER,
        density INTEGER,
        land_area_km INTEGER,
        migrants INTEGER,
        fert_rate REAL,
        median_age INTEGER,
        urban_pop_pct REAL,
        world_share REAL
    );
    DELETE FROM pop_data;    
''')
conn.commit()
# num	Country	population	year_change	net_change	density	land_area_km2	migrants	
# fertility_rate	Median_age	Urban_pop_pct	World_share
print(work_dir + "World_country_populations.csv")
with open(work_dir + "World_country_populations.csv",'r') as fh:
    line = fh.readline()
    i = 0
    while line:
        if i > 0:
            num,country,population,year_change,net_change,density,land_area_km,migrants,fert_rate,median_age,\
            urban_pop_pct,world_share = line.split(',')
            # print(f"""{num} {country} {population} {year_change} {net_change} {density} {land_area_km}
            # {migrants} {fert_rate} {median_age} {urban_pop_pct} {world_share}""")
            num = int(num)
            country = country.strip().replace("'"," ")
            population = int(population)
            year_change = float(year_change)
            net_change = int(net_change)
            density = int(density)
            land_area_km = int(land_area_km)
            migrants = float(migrants) if migrants else 0
            fert_rate = 0 if fert_rate.strip() == 'N.A.' else float(fert_rate)
            median_age =  0 if median_age.strip() == 'N.A.' else float(median_age)
            urban_pop_pct =  0 if urban_pop_pct.strip() == 'N.A.' else float(urban_pop_pct)
            world_share = float(world_share)
            # Store the data
            sql = f"""INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share) 
            VALUES ({num},'{country}',{population},{year_change},{net_change},{density},{land_area_km},{migrants},
            {fert_rate},{median_age},{urban_pop_pct},{world_share});"""
            print(sql)
            c.execute(sql)
            conn.commit()
        line = fh.readline()
        i += 1

In [30]:

import os
import sqlite3

work_dir = "/Users/yani/Desktop/PY-112-MySQL/"
db_name =  "world_populations.db"

# print(work_dir + db_name)
conn = sqlite3.connect(work_dir + db_name)
c = conn.cursor()
c.execute('''SELECT country, migrants FROM pop_data WHERE migrants > 0 ORDER BY migrants DESC LIMIT 10''')
rows = c.fetchall()
for row in rows:
    print(f'{row[0]} - migrants {row[1]}') 
conn.close()

United States - population 954806
Germany - population 543822
Turkey - population 283922
United Kingdom - population 260650
Canada - population 242032
Colombia - population 204796
Russia - population 182456
Uganda - population 168694
Australia - population 158246
Italy - population 148943

1 - Print the top 20 countries by population - Output in millions.

In [33]:
import sqlite3

work_dir = "/Users/yani/Desktop/PY-112-MySQL/"
db_name =  "world_populations.db"

# print(work_dir + db_name)
conn = sqlite3.connect(work_dir + db_name)
c = conn.cursor()
c.execute('''Select country, population From pop_data Order By population Desc Limit 20;''')

rows = c.fetchall()
for row in rows:
    print(f'{row[0]} - population {row[1]}') 
    
conn.close()

China - population 1439323776
India - population 1380004385
United States - population 331002651
Indonesia - population 273523615
Pakistan - population 220892340
Brazil - population 212559417
Nigeria - population 206139589
Bangladesh - population 164689383
Russia - population 145934462
Mexico - population 128932753
Japan - population 126476461
Ethiopia - population 114963588
Philippines - population 109581078
Egypt - population 102334404
Vietnam - population 97338579
DR Congo - population 89561403
Turkey - population 84339067
Iran - population 83992949
Germany - population 83783942
Thailand - population 69799978

2 - What is the total world population<br>

In [47]:
import os
import sqlite3

work_dir = "/Users/yani/Desktop/PY-112-MySQL/"
db_name =  "world_populations.db"

# print(work_dir + db_name)
conn = sqlite3.connect(work_dir + db_name)
c = conn.cursor()
c.execute('''Select sum(population) 
From pop_data;
''')

total_pop = c.fetchall()
# print(total_pop)
total_pop = str(total_pop)[2:-3]
print('Total Wold Population =', total_pop)

conn.close()

Total Wold Population = 7795232630

3 - Top 10 countries by median age<br>

In [50]:
import os
import sqlite3

work_dir = "/Users/yani/Desktop/PY-112-MySQL/"
db_name =  "world_populations.db"

# print(work_dir + db_name)
conn = sqlite3.connect(work_dir + db_name)
c = conn.cursor()
c.execute('''Select country, median_age From pop_data Order by median_age Desc Limit 10;''')

rows = c.fetchall()
for row in rows:
    print(row[0], f'- median age is {row[1]}')


conn.close()

Japan - median age is 48
Martinique - median age is 47
Italy - median age is 47
Portugal - median age is 46
Greece - median age is 46
Germany - median age is 46
Slovenia - median age is 45
Lithuania - median age is 45
Bulgaria - median age is 45
Hong Kong - median age is 45

4 - Top 10 countries where people left<br>

In [57]:
import os
import sqlite3

work_dir = "/Users/yani/Desktop/PY-112-MySQL/"
db_name =  "world_populations.db"

# print(work_dir + db_name)
conn = sqlite3.connect(work_dir + db_name)
c = conn.cursor()
c.execute('''Select country, migrants From Pop_Data Where migrants < 0 Order By migrants Limit 10;''')

rows = c.fetchall()
for row in rows:
    print(f'{str(row[1]).replace("-", "")} people left {row[0]} ')


conn.close()

653249 people left Venezuela
532687 people left India
427391 people left Syria
369501 people left Bangladesh
348399 people left China
233379 people left Pakistan
174200 people left South Sudan
163313 people left Myanmar
116858 people left Zimbabwe
98955 people left Indonesia

5 - Top 10 countries who took in migrants<br>

In [55]:
import os
import sqlite3

work_dir = "/Users/yani/Desktop/PY-112-MySQL/"
db_name =  "world_populations.db"

# print(work_dir + db_name)
conn = sqlite3.connect(work_dir + db_name)
c = conn.cursor()
c.execute('''Select country, migrants From Pop_Data Where migrants > 0 Order By migrants DESC Limit 10;''')

rows = c.fetchall()
for row in rows:
    print(f'{row[0]} took in {row[1]} migrants')
conn.close()

United States took in 954806 migrants
Germany took in 543822 migrants
Turkey took in 283922 migrants
United Kingdom took in 260650 migrants
Canada took in 242032 migrants
Colombia took in 204796 migrants
Russia took in 182456 migrants
Uganda took in 168694 migrants
Australia took in 158246 migrants
Italy took in 148943 migrants

6 - Which countries with a population less than 10 million had the largest year_change pct<br>

In [59]:
import os
import sqlite3

work_dir = "/Users/yani/Desktop/PY-112-MySQL/"
db_name =  "world_populations.db"

# print(work_dir + db_name)
conn = sqlite3.connect(work_dir + db_name)
c = conn.cursor()
c.execute('''Select country, year_change From pop_data Where population < 10000000 Order By year_change Desc Limit 5;''')

rows = c.fetchall()
for row in rows:
    print(f'{row[0]} - year_change {row[1]}')

conn.close()

Bahrain - year_change 0.0368
Equatorial Guinea - year_change 0.0347
Falkland Islands - year_change 0.0305
Gambia - year_change 0.0294
Mauritania - year_change 0.0274

<h2>Exercise</h2>
Find the position of the 2 character string '20' 
in the following:
<br>
<code>
stringOfNumbers = '32040230213340205020112'
</code>

<h4>Solution</h4>

In [136]:
stringOfNumbers = '32040230213340205020112'

stringOfNumbers_li = list((stringOfNumbers))
print(stringOfNumbers_li)

for x in range(len(stringOfNumbers_li)-1):
    if int(stringOfNumbers_li[x]) == 2 and int(stringOfNumbers_li[x + 1]) == 0:
        print(x)

['3', '2', '0', '4', '0', '2', '3', '0', '2', '1', '3', '3', '4', '0', '2', '0', '5', '0', '2', '0', '1', '1', '2']
1
14
18

This notebook is part of a course at www.codeimmersives.com called SQL-NOSQL. If you accessed this notebook outside the course, you can get more information about this course online by clicking here.

<hr>

Copyright &copy; 2021  Code Immersives