<a href="https://codeimmersives.com"><img src = "https://www.codeimmersives.com/wp-content/uploads/2019/09/CodeImmersives_Logo_RGB_NYC_BW.png" width = 400> </a>


<h1 align=center><font size = 5>Agenda</font></h1>

## SQL Operations using Python

### Agenda
<div class="alert alert-block alert-info" style="margin-top: 20px">

1.  [Review](#0)<br>
2.  [Base Python Exercise 1](#1)<br>
3.  [Base Python Exercise 2](#2)<br>
4.  [Base Python Exercise 3](#3)<br>
5.  [SQLite Exercises 1](#10)<br>    
6.  [SQLite Exercises 2](#12)<br>
7.  [Exercises](#14)<br>
</div>
<hr>

<h2>Base Python Exercise 1</h2>
Calculate the mean, median, and mode of the following data set:<br>
<code>
numList = [88,89,90,93,84,86,88,91,88,87]

def calcMean(numList):
    pass
def calcMode(numList):
    pass
def calcMedian(numList):
    pass
"""
Call all of the functions below
"""
</code>

<h4>Solution</h4>

In [63]:
import math

numList = [88,89,90,93,84,86,88,91,88,87]

def calcMean(li = []):
    sum = 0
    for x in li:
        sum += x
    mean = sum / len(li)

    print(mean)


def calcMedian(li=[]):
    li.sort()
    middleTwo = []
    if len(li)%2 == 0:
        for x in range(len(li)):
            if x == len(li)/2:
                middleTwo.append(li[x])

            elif x == ((len(li)/2) + 1):
                middleTwo.append(li[x])
                
        median = (middleTwo[0] + middleTwo[1]) / 2

    elif len(li) % 2 != 0:
        middle =int((len(li)/2) - .5)
        median = li[middle]

    print(median)
        

def calcMode(li=[]):
    setli = set(li)
    print(setli)
    mode = 1
    for x in setli:
        if li.count(x) > mode:
            mode = x
        elif li.count(x) = mode:
            mode = mode, ",", x
        else:
            mode = mode
    
    print(mode)

calcMean(numList)
calcMedian(numList)
calcMode(numList)

88.4
88.5
{84, 86, 87, 88, 89, 90, 91, 93}
88

<h2>Base Python Exercise 2</h2>
Write code to identify all prime numbers from 1000 through 1100

In [71]:

numList2 = range(1000,1101)

def primeNums(li=[]):
    for num in li:
        prime = True
        for x in range(2, num):
            if num % x == 0:
                prime = False
                break
        if prime == True:
            print(num)
        
        

primeNums(numList2)

1009
1013
1019
1021
1031
1033
1039
1049
1051
1061
1063
1069
1087
1091
1093
1097

<h2>Base Python Exercise 3</h2>
Using the code from above determine which prime numbers from above where the sum<br>
of their digits is also prime?<br>

In [76]:
def primeNums(li=[]):
    for num in li:
        prime = True
        for x in range(2, num):
            if num % x == 0:
                prime = False
                break
        if prime == True:
            #make digits in num a string:
            num = str(num)
            sum = 0
            for i in num:
                sum += int(i)
                for y in range(2,sum):
                    if num % y == 0:
                        prime = False
                        break
                    else:
                        print(num)

            

primeNums(numList2)

TypeError: not all arguments converted during string formatting

<h2>Base Python Exercise 4</h2>
How do you select 5 volunteers from a list of students?<br>
students = ['Renee','Julia','Warren','Stacey','Charles','Linda','Dwight','Ann','Franklin','George','Walter','Susan']
<br>
Which students remained?

<h4>Solution</h4>

In [59]:
import random

Susan was picked
['Renee', 'Julia', 'Warren', 'Stacey', 'Charles', 'Linda', 'Dwight', 'Ann', 'Franklin', 'George', 'Walter']
Warren was picked
['Renee', 'Julia', 'Stacey', 'Charles', 'Linda', 'Dwight', 'Ann', 'Franklin', 'George', 'Walter']
Walter was picked
['Renee', 'Julia', 'Stacey', 'Charles', 'Linda', 'Dwight', 'Ann', 'Franklin', 'George']
Ann was picked
['Renee', 'Julia', 'Stacey', 'Charles', 'Linda', 'Dwight', 'Franklin', 'George']
Franklin was picked
['Renee', 'Julia', 'Stacey', 'Charles', 'Linda', 'Dwight', 'George']
I randomly picked the following students: ['Susan', 'Warren', 'Walter', 'Ann', 'Franklin']
Remaining students: ['Renee', 'Julia', 'Stacey', 'Charles', 'Linda', 'Dwight', 'George']

<h2>Exercise</h2>
Open the file World_country_populations<br>
And answer the following questions:<br>
1 - Print the top 20 countries by population - Output in millions.<br>
2 - What is the total world population<br>
3 - Top 10 countries by median age<br>
4 - Top 10 countries where people left<br>
5 - Top 10 countries who took in migrants<br>
6 - Which countries with a population less than 10 million had the largest year_change pct<br>

In [5]:
import os
import sqlite3


conn = sqlite3.connect("world_populations.db")
c = conn.cursor()
c.execute('''Drop Table if Exists pop_data''')
c.executescript('''
    create table IF NOT EXISTS pop_data(
        num INTEGER,
        country TEXT,
        population INTEGER,
        year_change REAL,
        net_change INTEGER,
        density INTEGER,
        land_area_km INTEGER,
        migrants INTEGER,
        fert_rate REAL,
        median_age INTEGER,
        urban_pop_pct REAL,
        world_share REAL
    );
    DELETE FROM pop_data;    
''')
conn.commit()
# num	Country	population	year_change	net_change	density	land_area_km2	migrants	
# fertility_rate	Median_age	Urban_pop_pct	World_share
with open("World_country_populations.csv",'r') as fh:
    line = fh.readline()
    i = 0
    while line:
        if i > 0:
            num,country,population,year_change,net_change,density,land_area_km,migrants,fert_rate,median_age,\
            urban_pop_pct,world_share = line.split(',')
            print(f"""{num} {country} {population} {year_change} {net_change} {density} {land_area_km}
            {migrants} {fert_rate} {median_age} {urban_pop_pct} {world_share}""")
            num = int(num)
            country = country.strip().replace("'"," ")
            population = int(population)
            year_change = float(year_change)
            net_change = int(net_change)
            density = int(density)
            land_area_km = int(land_area_km)
            migrants = float(migrants) if migrants else 0
            fert_rate = 0 if fert_rate.strip() == 'N.A.' else float(fert_rate)
            median_age =  0 if median_age.strip() == 'N.A.' else float(median_age)
            urban_pop_pct =  0 if urban_pop_pct.strip() == 'N.A.' else float(urban_pop_pct)
            world_share = float(world_share)
            # Store the data
            sql = f"""INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share) 
            VALUES ({num},'{country}',{population},{year_change},{net_change},{density},{land_area_km},{migrants},
            {fert_rate},{median_age},{urban_pop_pct},{world_share});"""
            print(sql)
            c.execute(sql)
            conn.commit()
        line = fh.readline()
        i += 1

iger  24206644 0.0384 895929 19 1266700
            4000 7 15 0.17 0.0031

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (56,'Niger',24206644,0.0384,895929,19,1266700,4000.0,
            7.0,15.0,0.17,0.0031);
55 Australia  25499884 0.0118 296686 3 7682300
            158246 1.8 38 0.86 0.0033

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (55,'Australia',25499884,0.0118,296686,3,7682300,158246.0,
            1.8,38.0,0.86,0.0033);
54 North Korea  25778816 0.0044 112655 214 120410
            -5403 1.9 35 0.63 0.0033

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (54,'North Korea',25778816,0.0044,112655,214,120410,-5403.0,
            1.9,35.0,0.63,0.0033);
53 Côte d'Ivoire  26378274 0.0257 661730 83 318000
            -8000 4.7 19 0.51 0.0034

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (53,'Côte d Ivoire',26378274,0.0257,661730,83,318000,-8000.0,
            4.7,19.0,0.51,0.0034);
52 Cameroon  26545863 0.0259 669483 56 472710
            -4800 4.6 19 0.56 0.0034

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (52,'Cameroon',26545863,0.0259,669483,56,472710,-4800.0,
            4.6,19.0,0.56,0.0034);
51 Madagascar  27691018 0.0268 721711 48 581795
            -1500 4.1 20 0.39 0.0036

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (51,'Madagascar',27691018,0.0268,721711,48,581795,-1500.0,
            4.1,20.0,0.39,0.0036);
50 Venezuela  28435940 -0.0028 -79889 32 882050
            -653249 2.3 30 N.A.  0.0036

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (50,'Venezuela',28435940,-0.0028,-79889,32,882050,-653249.0,
            2.3,30.0,0,0.0036);
49 Nepal  29136808 0.0185 528098 203 143350
            41710 1.9 25 0.21 0.0037

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (49,'Nepal',29136808,0.0185,528098,203,143350,41710.0,
            1.9,25.0,0.21,0.0037);
48 Yemen  29825964 0.0228 664042 56 527970
            -30000 3.8 20 0.38 0.0038

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (48,'Yemen',29825964,0.0228,664042,56,527970,-30000.0,
            3.8,20.0,0.38,0.0038);
47 Ghana  31072940 0.0215 655084 137 227540
            -10000 3.9 22 0.57 0.004

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (47,'Ghana',31072940,0.0215,655084,137,227540,-10000.0,
            3.9,22.0,0.57,0.004);
46 Mozambique  31255435 0.0293 889399 40 786380
            -5000 4.9 18 0.38 0.004

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (46,'Mozambique',31255435,0.0293,889399,40,786380,-5000.0,
            4.9,18.0,0.38,0.004);
45 Malaysia  32365999 0.013 416222 99 328550
            50000 2 30 0.78 0.0042

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (45,'Malaysia',32365999,0.013,416222,99,328550,50000.0,
            2.0,30.0,0.78,0.0042);
44 Angola  32866272 0.0327 1040977 26 1246700
            6413 5.6 17 0.67 0.0042

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (44,'Angola',32866272,0.0327,1040977,26,1246700,6413.0,
            5.6,17.0,0.67,0.0042);
43 Peru  32971854 0.0142 461401 26 1280000
            99069 2.3 31 0.79 0.0042

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (43,'Peru',32971854,0.0142,461401,26,1280000,99069.0,
            2.3,31.0,0.79,0.0042);
42 Uzbekistan  33469203 0.0148 487487 79 425400
            -8863 2.4 28 0.5 0.0043

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (42,'Uzbekistan',33469203,0.0148,487487,79,425400,-8863.0,
            2.4,28.0,0.5,0.0043);
41 Saudi Arabia  34813871 0.0159 545343 16 2149690
            134979 2.3 32 0.84 0.0045

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (41,'Saudi Arabia',34813871,0.0159,545343,16,2149690,134979.0,
            2.3,32.0,0.84,0.0045);
40 Morocco  36910560 0.012 438791 83 446300
            -51419 2.4 30 0.64 0.0047

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (40,'Morocco',36910560,0.012,438791,83,446300,-51419.0,
            2.4,30.0,0.64,0.0047);
39 Canada  37742154 0.0089 331107 4 9093510
            242032 1.5 41 0.81 0.0048

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (39,'Canada',37742154,0.0089,331107,4,9093510,242032.0,
            1.5,41.0,0.81,0.0048);
38 Poland  37846611 -0.0011 -41157 124 306230
            -29395 1.4 42 0.6 0.0049

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (38,'Poland',37846611,-0.0011,-41157,124,306230,-29395.0,
            1.4,42.0,0.6,0.0049);
37 Afghanistan  38928346 0.0233 886592 60 652860
            -62920 4.6 18 0.25 0.005

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (37,'Afghanistan',38928346,0.0233,886592,60,652860,-62920.0,
            4.6,18.0,0.25,0.005);
36 Iraq  40222493 0.0232 912710 93 434320
            7834 3.7 21 0.73 0.0052

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (36,'Iraq',40222493,0.0232,912710,93,434320,7834.0,
            3.7,21.0,0.73,0.0052);
35 Ukraine  43733762 -0.0059 -259876 75 579320
            10000 1.4 41 0.69 0.0056

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (35,'Ukraine',43733762,-0.0059,-259876,75,579320,10000.0,
            1.4,41.0,0.69,0.0056);
34 Sudan  43849260 0.0242 1036022 25 1765048
            -50000 4.4 20 0.35 0.0056

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (34,'Sudan',43849260,0.0242,1036022,25,1765048,-50000.0,
            4.4,20.0,0.35,0.0056);
33 Algeria  43851044 0.0185 797990 18 2381740
            -10000 3.1 29 0.73 0.0056

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (33,'Algeria',43851044,0.0185,797990,18,2381740,-10000.0,
            3.1,29.0,0.73,0.0056);
32 Argentina  45195774 0.0093 415097 17 2736690
            4800 2.3 32 0.93 0.0058

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (32,'Argentina',45195774,0.0093,415097,17,2736690,4800.0,
            2.3,32.0,0.93,0.0058);
31 Uganda  45741007 0.0332 1471413 229 199810
            168694 5 17 0.26 0.0059

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (31,'Uganda',45741007,0.0332,1471413,229,199810,168694.0,
            5.0,17.0,0.26,0.0059);
30 Spain  46754778 0.0004 18002 94 498800
            40000 1.3 45 0.8 0.006

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (30,'Spain',46754778,0.0004,18002,94,498800,40000.0,
            1.3,45.0,0.8,0.006);
29 Colombia  50882891 0.0108 543448 46 1109500
            204796 1.8 31 0.8 0.0065

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (29,'Colombia',50882891,0.0108,543448,46,1109500,204796.0,
            1.8,31.0,0.8,0.0065);
28 South Korea  51269185 0.0009 43877 527 97230
            11731 1.1 44 0.82 0.0066

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (28,'South Korea',51269185,0.0009,43877,527,97230,11731.0,
            1.1,44.0,0.82,0.0066);
27 Kenya  53771296 0.0228 1197323 94 569140
            -10000 3.5 20 0.28 0.0069

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (27,'Kenya',53771296,0.0228,1197323,94,569140,-10000.0,
            3.5,20.0,0.28,0.0069);
26 Myanmar  54409800 0.0067 364380 83 653290
            -163313 2.2 29 0.31 0.007

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (26,'Myanmar',54409800,0.0067,364380,83,653290,-163313.0,
            2.2,29.0,0.31,0.007);
25 South Africa  59308690 0.0128 750420 49 1213090
            145405 2.4 28 0.67 0.0076

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (25,'South Africa',59308690,0.0128,750420,49,1213090,145405.0,
            2.4,28.0,0.67,0.0076);
24 Tanzania  59734218 0.0298 1728755 67 885800
            -40076 4.9 18 0.37 0.0077

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (24,'Tanzania',59734218,0.0298,1728755,67,885800,-40076.0,
            4.9,18.0,0.37,0.0077);
23 Italy  60461826 -0.0015 -88249 206 294140
            148943 1.3 47 0.69 0.0078

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (23,'Italy',60461826,-0.0015,-88249,206,294140,148943.0,
            1.3,47.0,0.69,0.0078);
22 France  65273511 0.0022 143783 119 547557
            36527 1.9 42 0.82 0.0084

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (22,'France',65273511,0.0022,143783,119,547557,36527.0,
            1.9,42.0,0.82,0.0084);
21 United Kingdom  67886011 0.0053 355839 281 241930
            260650 1.8 40 0.83 0.0087

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (21,'United Kingdom',67886011,0.0053,355839,281,241930,260650.0,
            1.8,40.0,0.83,0.0087);
20 Thailand  69799978 0.0025 174396 137 510890
            19444 1.5 40 0.51 0.009

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (20,'Thailand',69799978,0.0025,174396,137,510890,19444.0,
            1.5,40.0,0.51,0.009);
19 Germany  83783942 0.0032 266897 240 348560
            543822 1.6 46 0.76 0.0107

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (19,'Germany',83783942,0.0032,266897,240,348560,543822.0,
            1.6,46.0,0.76,0.0107);
18 Iran  83992949 0.013 1079043 52 1628550
            -55000 2.2 32 0.76 0.0108

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (18,'Iran',83992949,0.013,1079043,52,1628550,-55000.0,
            2.2,32.0,0.76,0.0108);
17 Turkey  84339067 0.0109 909452 110 769630
            283922 2.1 32 0.76 0.0108

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (17,'Turkey',84339067,0.0109,909452,110,769630,283922.0,
            2.1,32.0,0.76,0.0108);
16 DR Congo  89561403 0.0319 2770836 40 2267050
            23861 6 17 0.46 0.0115

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (16,'DR Congo',89561403,0.0319,2770836,40,2267050,23861.0,
            6.0,17.0,0.46,0.0115);
15 Vietnam  97338579 0.0091 876473 314 310070
            -80000 2.1 32 0.38 0.0125

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (15,'Vietnam',97338579,0.0091,876473,314,310070,-80000.0,
            2.1,32.0,0.38,0.0125);
14 Egypt  102334404 0.0194 1946331 103 995450
            -38033 3.3 25 0.43 0.0131

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (14,'Egypt',102334404,0.0194,1946331,103,995450,-38033.0,
            3.3,25.0,0.43,0.0131);
13 Philippines  109581078 0.0135 1464463 368 298170
            -67152 2.6 26 0.47 0.0141

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (13,'Philippines',109581078,0.0135,1464463,368,298170,-67152.0,
            2.6,26.0,0.47,0.0141);
12 Ethiopia  114963588 0.0257 2884858 115 1000000
            30000 4.3 19 0.21 0.0147

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (12,'Ethiopia',114963588,0.0257,2884858,115,1000000,30000.0,
            4.3,19.0,0.21,0.0147);
11 Japan  126476461 -0.003 -383840 347 364555
            71560 1.4 48 0.92 0.0162

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (11,'Japan',126476461,-0.003,-383840,347,364555,71560.0,
            1.4,48.0,0.92,0.0162);
10 Mexico  128932753 0.0106 1357224 66 1943950
            -60000 2.1 29 0.84 0.0165

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (10,'Mexico',128932753,0.0106,1357224,66,1943950,-60000.0,
            2.1,29.0,0.84,0.0165);
9 Russia  145934462 0.0004 62206 9 16376870
            182456 1.8 40 0.74 0.0187

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (9,'Russia',145934462,0.0004,62206,9,16376870,182456.0,
            1.8,40.0,0.74,0.0187);
8 Bangladesh  164689383 0.0101 1643222 1265 130170
            -369501 2.1 28 0.39 0.0211

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (8,'Bangladesh',164689383,0.0101,1643222,1265,130170,-369501.0,
            2.1,28.0,0.39,0.0211);
7 Nigeria  206139589 0.0258 5175990 226 910770
            -60000 5.4 18 0.52 0.0264

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (7,'Nigeria',206139589,0.0258,5175990,226,910770,-60000.0,
            5.4,18.0,0.52,0.0264);
6 Brazil  212559417 0.0072 1509890 25 8358140
            21200 1.7 33 0.88 0.0273

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (6,'Brazil',212559417,0.0072,1509890,25,8358140,21200.0,
            1.7,33.0,0.88,0.0273);
5 Pakistan  220892340 0.02 4327022 287 770880
            -233379 3.6 23 0.35 0.0283

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (5,'Pakistan',220892340,0.02,4327022,287,770880,-233379.0,
            3.6,23.0,0.35,0.0283);
4 Indonesia  273523615 0.0107 2898047 151 1811570
            -98955 2.3 30 0.56 0.0351

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (4,'Indonesia',273523615,0.0107,2898047,151,1811570,-98955.0,
            2.3,30.0,0.56,0.0351);
3 United States  331002651 0.0059 1937734 36 9147420
            954806 1.8 38 0.83 0.0425

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (3,'United States',331002651,0.0059,1937734,36,9147420,954806.0,
            1.8,38.0,0.83,0.0425);
2 India  1380004385 0.0099 13586631 464 2973190
            -532687 2.2 28 0.35 0.177

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (2,'India',1380004385,0.0099,13586631,464,2973190,-532687.0,
            2.2,28.0,0.35,0.177);
1 China  1439323776 0.0039 5540090 153 9388211
            -348399 1.7 38 0.61 0.1847

INSERT INTO pop_data (num,country,population,year_change,net_change,density,land_area_km,
            migrants,fert_rate,median_age,urban_pop_pct,world_share)
            VALUES (1,'China',1439323776,0.0039,5540090,153,9388211,-348399.0,
            1.7,38.0,0.61,0.1847);

In [6]:

import os
import sqlite3

conn = sqlite3.connect("world_populations.db")
c = conn.cursor()
c.execute('''SELECT country, migrants FROM pop_data WHERE migrants > 0 ORDER BY migrants DESC LIMIT 10''')
rows = c.fetchall()
for row in rows:
    print(f'{row[0]} - migrants {row[1]}') 
conn.close()

United States - migrants 954806
Germany - migrants 543822
Turkey - migrants 283922
United Kingdom - migrants 260650
Canada - migrants 242032
Colombia - migrants 204796
Russia - migrants 182456
Uganda - migrants 168694
Australia - migrants 158246
Italy - migrants 148943

1 - Print the top 20 countries by population - Output in millions.

In [13]:
import os
import sqlite3

conn = sqlite3.connect("world_populations.db")
c = conn.cursor()
c.execute('''SELECT sum(migrants) 
FROM pop_data 
WHERE country in ("Canada", "France", "Germany", "Italy", "Japan", "United Kingdom", "Unites States")
and migrants > 0
''')

g7Migrants = c.fetchone()[0]
print(g7Migrants)


c.execute('''SELECT sum(migrants) 
FROM pop_data 
WHERE migrants > 0
''')
totalMigrants = c.fetchone()[0]
print(totalMigrants)

1303534
4874250

2 - What is the total world population<br>

In [42]:
import os
import sqlite3

conn = sqlite3.connect("world_populations.db")
c = conn.cursor()
c.execute('''Select sum(migrants)
/ sum(migrants) 
WHERE country in ("Canada", "France", "Germany", "Italy", "Japan", "United Kingdom", "Unites States")
From pop_data 
''')

print(c.fetchone()[0])

OperationalError: near "From": syntax error

3 - Top 10 countries by median age<br>

In [63]:
import os
import sqlite3

Japan - median age is 48
Martinique - median age is 47
Italy - median age is 47
Portugal - median age is 46
Greece - median age is 46
Germany - median age is 46
Slovenia - median age is 45
Lithuania - median age is 45
Bulgaria - median age is 45
Hong Kong - median age is 45

4 - Top 10 countries where people left<br>

In [66]:
import os
import sqlite3

Japan - people who left -383840
Ukraine - people who left -259876
Romania - people who left -126866
Italy - people who left -88249
Venezuela - people who left -79889
Puerto Rico - people who left -72555
Bulgaria - people who left -51674
Greece - people who left -50401
Poland - people who left -41157
Lithuania - people who left -37338

5 - Top 10 countries who took in migrants<br>

In [69]:
import os
import sqlite3

United States - migrants 954806
Germany - migrants 543822
Turkey - migrants 283922
United Kingdom - migrants 260650
Canada - migrants 242032
Colombia - migrants 204796
Russia - migrants 182456
Uganda - migrants 168694
Australia - migrants 158246
Italy - migrants 148943

6 - Which countries with a population less than 10 million had the largest year_change pct<br>

In [70]:
import os
import sqlite3

Bahrain - year change 0.0368 - population - 1701575
Equatorial Guinea - year change 0.0347 - population - 1402985
Falkland Islands - year change 0.0305 - population - 3480
Gambia - year change 0.0294 - population - 2416668
Mauritania - year change 0.0274 - population - 4649658
French Guiana - year change 0.027 - population - 298682
Oman - year change 0.0265 - population - 5106626
Congo - year change 0.0256 - population - 5518087
Western Sahara - year change 0.0255 - population - 597339
Solomon Islands - year change 0.0255 - population - 686884

<h2>Exercise</h2>
Find the position of the 2 character string '20' 
in the following:
<br>
<code>
stringOfNumbers = '32040230213340205020112'
</code>

<h4>Solution</h4>

In [71]:
stringOfNumbers = '32040230213340205020112'

1 20
2 20
3 20
There are 3 - 20's found in the following positions [1, 14, 18]

This notebook is part of a course at www.codeimmersives.com called SQL-NOSQL. If you accessed this notebook outside the course, you can get more information about this course online by clicking here.

<hr>

Copyright &copy; 2021  Code Immersives