# Warm Up exercises

## Exercise 1
Write a function that takes a string of chars, digits and symbols and returns a count of each one. 

i.e. 

<code>
str1 = "P@#yn26at^&i5ve"
-> 
Total counts of chars, digits,and symbols 
Chars = 8 
Digits = 3 
Symbol = 4
</code>

In [11]:
def characterCount(str1 = "as;dlih ## 23"):
    Chars = 0
    Digits = 0
    Symbol = 0
    for x in str1:
        if x.isdigit():
            Digits += 1
        elif x.isalpha():
            Chars += 1
        elif x == " ":
            continue
        else:
            Symbol += 1
    return Chars, Digits, Symbol

characterCount()

(6, 2, 3)

## Exercise 2
Write a function that counts the most common letter in the text

In [26]:
text="""
Computer programming is the process of designing and building an executable computer program to accomplish a specific computing result or to perform a specific task. Programming involves tasks such as: analysis, generating algorithms, profiling algorithms' accuracy and resource consumption, and the implementation of algorithms in a chosen programming language (commonly referred to as coding).[1][2] The source code of a program is written in one or more languages that are intelligible to programmers, rather than machine code, which is directly executed by the central processing unit. The purpose of programming is to find a sequence of instructions that will automate the performance of a task (which can be as complex as an operating system) on a computer, often for solving a given problem. Proficient programming thus often requires expertise in several different subjects, including knowledge of the application domain, specialized algorithms, and formal logic.
Tasks accompanying and related to programming include: testing, debugging, source code maintenance, implementation of build systems, and management of derived artifacts, such as the machine code of computer programs. These might be considered part of the programming process, but often the term software development is used for this larger process with the term programming, implementation, or coding reserved for the actual writing of code. Software engineering combines engineering techniques with software development practices. Reverse engineering is a related process used by designers, analysts and programmers to understand and re-create/re-implement
"""
# print(list(set(text)))


def MaxCommonLetter(str1 = ""):
    Dict1 = {}
    for x in str1:
      if x.isalpha():
        Dict1 [x] = str1.count(x)
    maxLetter = max(Dict1, key = Dict1.get)
    print(Dict1)
    return maxLetter   

MaxCommonLetter(text)

{'C': 1, 'o': 102, 'm': 66, 'p': 47, 'u': 36, 't': 97, 'e': 161, 'r': 106, 'g': 62, 'a': 100, 'i': 102, 'n': 103, 's': 86, 'h': 37, 'c': 64, 'f': 33, 'd': 43, 'b': 13, 'l': 44, 'x': 4, 'k': 5, 'P': 2, 'v': 10, 'y': 10, 'T': 4, 'w': 11, 'q': 3, 'j': 1, 'z': 1, 'S': 1, 'R': 1}

'e'

## Exercise 2a
Write a function that counts the most common word in a text

In [53]:
text="""
Computer programming is the process of designing and building an executable computer program to accomplish a specific computing result or to perform a specific task. Programming involves tasks such as: analysis, generating algorithms, profiling algorithms' accuracy and resource consumption, and the implementation of algorithms in a chosen programming language (commonly referred to as coding).[1][2] The source code of a program is written in one or more languages that are intelligible to programmers, rather than machine code, which is directly executed by the central processing unit. The purpose of programming is to find a sequence of instructions that will automate the performance of a task (which can be as complex as an operating system) on a computer, often for solving a given problem. Proficient programming thus often requires expertise in several different subjects, including knowledge of the application domain, specialized algorithms, and formal logic.
Tasks accompanying and related to programming include: testing, debugging, source code maintenance, implementation of build systems, and management of derived artifacts, such as the machine code of computer programs. These might be considered part of the programming process, but often the term software development is used for this larger process with the term programming, implementation, or coding reserved for the actual writing of code. Software engineering combines engineering techniques with software development practices. Reverse engineering is a related process used by designers, analysts and programmers to understand and re-create/re-implement
"""
import string
import pprint
# text = text.translate(str.maketrans('', '', string.punctuation ))
# print(text)

def MaxWord(str1=""):
    str1 = str1.translate(str.maketrans('', '', string.punctuation )) # Gets rid of all of the punctuation so that every word will be recognized
    liStr = str1.lower().split()    # Need to use .lower because casing matters when identifying words in a string. Ex) if 'The' is not changed to 'the' then it will count 2 'The' and 10 'the'.
    # print(liStr)
    Dict1 = {}
    for x in liStr:
        if x.isalpha():
            Dict1 [x] = liStr.count(x)
    wordMax = max(Dict1.values())
    for k,v in Dict1.items():
        if v == wordMax:
            pprint.pp(f"'{k}' is the most common word. It appeared {v} times")
    # pprint.pp(Dict1)
    

MaxWord(text)

"'the' is the most common word. It appeared 12 times"
"'of' is the most common word. It appeared 12 times"

## Using Group By

In [13]:
import mysql.connector
from dotenv import dotenv_values

config = dotenv_values(".env")  # config = {"USER": "foo", "EMAIL": "foo@example.org"}

mydb = mysql.connector.connect(
  host=config['HOST'],
  user=config['USER'],
  password=config['PASSWORD'],
  database=config['DATABASE']
)

mycursor = mydb.cursor()

"""
Lists the number of customers in each country, sorted high to low
"""

query = """ 
SELECT COUNT(CustomerID), Country
FROM Customer
GROUP BY Country
ORDER BY COUNT(CustomerID) DESC;
"""

mycursor.execute(query)

for x in mycursor:
  print(x)
mydb.close()

(13, 'USA')
(8, 'Canada')
(5, 'Brazil')
(5, 'France')
(4, 'Germany')
(3, 'United Kingdom')
(2, 'Czech Republic')
(2, 'Portugal')
(2, 'India')
(1, 'Norway')
(1, 'Austria')
(1, 'Belgium')
(1, 'Denmark')
(1, 'Finland')
(1, 'Hungary')
(1, 'Ireland')
(1, 'Italy')
(1, 'Netherlands')
(1, 'Poland')
(1, 'Spain')
(1, 'Sweden')
(1, 'Australia')
(1, 'Argentina')
(1, 'Chile')

## Using HAVING

In [12]:
import mysql.connector
from dotenv import dotenv_values

config = dotenv_values(".env")  # config = {"USER": "foo", "EMAIL": "foo@example.org"}

mydb = mysql.connector.connect(
  host=config['HOST'],
  user=config['USER'],
  password=config['PASSWORD'],
  database=config['DATABASE']
)

mycursor = mydb.cursor()

"""
Lists the number of customers in each country. 
Only include countries with more than 5 customers
"""

query = """ 
SELECT COUNT(CustomerID), Country
FROM Customer
GROUP BY Country
HAVING COUNT(CustomerID) > 5;
"""

mycursor.execute(query)

for x in mycursor:
  print(x)
mydb.close()

(8, 'Canada')
(13, 'USA')

## Using Union

In [11]:
import mysql.connector
from dotenv import dotenv_values

config = dotenv_values(".env")  # config = {"USER": "foo", "EMAIL": "foo@example.org"}

mydb = mysql.connector.connect(
  host=config['HOST'],
  user=config['USER'],
  password=config['PASSWORD'],
  database=config['DATABASE']
)

mycursor = mydb.cursor()

"""
Lists the number of customers in each country. 
Only include countries with more than 5 customers
"""

query = """ 
SELECT City FROM Customer
UNION
SELECT City FROM Employee
ORDER BY City
"""
# Note that the result is in alphabetical order because of the Order By and eliminated duplicates. No need to use Group By
mycursor.execute(query)

for x in mycursor:
  print(x)
mydb.close()

('Amsterdam',)
('Bangalore',)
('Berlin',)
('Bordeaux',)
('Boston',)
('Brasília',)
('Brussels',)
('Budapest',)
('Buenos Aires',)
('Calgary',)
('Chicago',)
('Copenhagen',)
('Cupertino',)
('Delhi',)
('Dijon',)
('Dublin',)
('Edinburgh ',)
('Edmonton',)
('Fort Worth',)
('Frankfurt',)
('Halifax',)
('Helsinki',)
('Lethbridge',)
('Lisbon',)
('London',)
('Lyon',)
('Madison',)
('Madrid',)
('Montréal',)
('Mountain View',)
('New York',)
('Orlando',)
('Oslo',)
('Ottawa',)
('Paris',)
('Porto',)
('Prague',)
('Redmond',)
('Reno',)
('Rio de Janeiro',)
('Rome',)
('Salt Lake City',)
('Santiago',)
('São José dos Campos',)
('São Paulo',)
('Sidney',)
('Stockholm',)
('Stuttgart',)
('Toronto',)
('Tucson',)
('Vancouver',)
('Vienne',)
('Warsaw',)
('Winnipeg',)
('Yellowknife',)

In [62]:
'''How to Concat fields'''

import mysql.connector
from dotenv import dotenv_values
config = dotenv_values(".env")  # config = {"USER": "foo", "EMAIL": "foo@example.org"}
mydb = mysql.connector.connect(
  host=config['HOST'],
  user=config['USER'],
  password=config['PASSWORD'],
  database=config['DATABASE']
)
mycursor = mydb.cursor()
"""
Lists the number of customers in each country. 
Only include countries with more than 5 customers
"""
query = """ 
SELECT 
    CONCAT(lastName, ', ', firstName) as 'Full Name'
FROM Customer;
"""
mycursor.execute(query)
# description accesses headers
print(mycursor.description[0][0])
for x in mycursor:
  print(x)
mydb.close()

Full Name
('Gonçalves, Luís',)
('Köhler, Leonie',)
('Tremblay, François',)
('Hansen, Bjørn',)
('Wichterlová, František',)
('Holý, Helena',)
('Gruber, Astrid',)
('Peeters, Daan',)
('Nielsen, Kara',)
('Martins, Eduardo',)
('Rocha, Alexandre',)
('Almeida, Roberto',)
('Ramos, Fernanda',)
('Philips, Mark',)
('Peterson, Jennifer',)
('Harris, Frank',)
('Smith, Jack',)
('Brooks, Michelle',)
('Goyer, Tim',)
('Miller, Dan',)
('Chase, Kathy',)
('Leacock, Heather',)
('Gordon, John',)
('Ralston, Frank',)
('Stevens, Victor',)
('Cunningham, Richard',)
('Gray, Patrick',)
('Barnett, Julia',)
('Brown, Robert',)
('Francis, Edward',)
('Silk, Martha',)
('Mitchell, Aaron',)
('Sullivan, Ellie',)
('Fernandes, João',)
('Sampaio, Madalena',)
('Schneider, Hannah',)
('Zimmermann, Fynn',)
('Schröder, Niklas',)
('Bernard, Camille',)
('Lefebvre, Dominique',)
('Dubois, Marc',)
('Girard, Wyatt',)
('Mercier, Isabelle',)
('Hämäläinen, Terhi',)
('Kovács, Ladislav',)
("O'Reilly, Hugh",)
('Mancini, Lucas',)
('Van der Berg, Johannes',)
('Wójcik, Stanisław',)
('Muñoz, Enrique',)
('Johansson, Joakim',)
('Jones, Emma',)
('Hughes, Phil',)
('Murray, Steve',)
('Taylor, Mark',)
('Gutiérrez, Diego',)
('Rojas, Luis',)
('Pareek, Manoj',)
('Srivastava, Puja',)

In [63]:
import mysql.connector
from dotenv import dotenv_values
config = dotenv_values(".env")  # config = {"USER": "foo", "EMAIL": "foo@example.org"}
mydb = mysql.connector.connect(
  host=config['HOST'],
  user=config['USER'],
  password=config['PASSWORD'],
  database=config['DATABASE']
)
mycursor = mydb.cursor()
'''
Lists the number of customers in each country.
Only include countries with more than 5 customers
'''
query ="SELECT
    CONCAT(m.lastName, ‘, ‘, m.firstName) AS Manager,
    CONCAT(e.lastName, ‘, ’, e.firstName) AS ‘Direct Report’
FROM
    Employee e
INNER JOIN Employee m ON
    m.employeeId = e.ReportsTo
ORDER BY
    Manager"

mycursor.execute(query)
# description accesses headers
print(mycursor.description[0][0] , mycursor.description[1][0])
for x in mycursor:
  print(x)
mydb.close()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Report’
FROM
    Employee e
INNER JOIN Employee m ON
    m.employeeId = e.Repo' at line 3