<a href="https://codeimmersives.com"><img src = "https://www.codeimmersives.com/wp-content/uploads/2019/09/CodeImmersives_Logo_RGB_NYC_BW.png" width = 400> </a>


<h1 align=center><font size = 5>Agenda</font></h1>

# SQLite3

### Agenda
<div class="alert alert-block alert-info" style="margin-top: 20px">

1.  [Installation](#0)<br>
2.  [Data Definaton Language(DDL)](#2)<br>
3.  [CREATE, CREATE TABLE, CREATE VIEW](#4) <br>
4.  [DATA TYPES (TEXT, NUMERIC, INTEGER, FLOAT)](#6) <br>     
5.  [PRIMARY KEYS](#8) <br> 
6.  [IF EXISTS, IF NOT EXISTS](#10) <br>
7.  [DROP TABLE, DROP INDEX](#12) <br>
8.  [TABLES FROM QUERIES]
9.  [ALTER TABLES]
9.  [Exercise 1](#14) <br>    
10. [Exercise 2](#16) <br>
11. [Exercise 3](#18) <br>
    
</div>
<hr>

# Warm Up Exercises

In [24]:
import string
print(string.ascii_letters)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

In [3]:
nums = range(5)
nums == [i for i  in range(5)] 
from pprint import pprint
pprint(dir(nums))

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

In [9]:
import sqlite3
import os
print("Hello World")

Hello World

# Differences Between Sqlite / mysql
https://dzone.com/articles/sqlite-vs-mysql

#### Let's create a directory to store all of our data for the course, create a dirctory called 'sql-data'

#### Let's determine which directory we are in

In [25]:
print(os.getcwd())
os.chdir(r'/Users/yani/Desktop/PY-112-MySQL')  
print(os.getcwd()) #this gets the working directory

/Users/yani/Desktop/PY-112-MySQL
/Users/yani/Desktop/PY-112-MySQL

#### To create a database and establish a connection to it

In [26]:
conn = sqlite3.connect('customer.db')
print(sqlite3.version_info)
# If we attempt to connect to a database that does not exist.  It creates it.

(2, 6, 0)

In [27]:
#### Let's examine the methods available for the object we just created

methods = [x for x in dir(conn) if not x.startswith('_')]
print(methods)

['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', 'backup', 'close', 'commit', 'create_aggregate', 'create_collation', 'create_function', 'cursor', 'execute', 'executemany', 'executescript', 'in_transaction', 'interrupt', 'isolation_level', 'iterdump', 'rollback', 'row_factory', 'set_authorizer', 'set_progress_handler', 'set_trace_callback', 'text_factory', 'total_changes']

#### If we check our os we will see that we created a database call 'customer.db'

#### A database holds zero or more tables

In [28]:
# Create a cursor to access the database
c = conn.cursor()
pprint(dir(c))
print(c.rowcount)
# This is equivalent to creating a filehandle when using the 'open' function

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']
-1

#### Creating a table

In [32]:
conn = sqlite3.connect('customer.db')
print(type(conn))
c = conn.cursor()
c.execute("""CREATE TABLE IF Not Exists customers (
    fName TEXT,
    lName TEXT,
    address1 TEXT,
    address2 TEXT,
    zip TEXT)
""")
conn.commit()  # <=== commit our table to the database
conn.close()   # <=== close the connection
'''
WARNING !!!! If the table was created previously It will give you 
an error

'''

<class 'sqlite3.Connection'>

'\nWARNING !!!! If the table was created previously It will give you \nan error\n\n'

In [31]:
# Use the IF NOT EXISTS clause if we might have created the table previously
conn = sqlite3.connect('customer.db')
c = conn.cursor()
c.execute("""CREATE TABLE IF NOT EXISTS customers (
    fName TEXT,
    lName TEXT,
    address1 TEXT,
    address2 TEXT,
    zip TEXT)
""")
conn.commit()  # <=== commit our table to the database
conn.close()

#### How can we view the tables already created in a database?

In [9]:
'''
There are several tools we can use to view our SQLite database and the tables outside of python
1. Install full version of SQLite3 - www.sqlite.org
2. Install a browser add in - SQLite Manager by Lunu ( PREFERRED)

Examine the customer.db file we created
Examine the chinook.db file 

Look at the syntax

'''
conn = sqlite3.connect('customer.db')
c = conn.cursor()
for row in c.execute("""SELECT name FROM sqlite_master"""):
    print(row)
c.execute("""CREATE TABLE IF NOT EXISTS depts (
    dept_id TEXT,
    dept_name TEXT)
""")
for row in c.execute("""SELECT name FROM sqlite_master"""):
    print(row)
conn.commit()  # <=== commit our table to the database
conn.close()

('customers',)
('depts',)
('customers',)
('depts',)

#### NOTE: CASE MATTERS

<H4>The 5 SQLite data types</H4>
<H4>NULL<br>
    INTEGER<br>
    REAL<br>
    TEXT<br>
    BLOB<br>
 </H4>

#### Inserting data - one record at a time

In [16]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()
print(c.rowcount) #checking rows before inserting data
c.execute("""INSERT INTO customers VALUES
('Mary','Jones','15 Main street','','99995')""")
conn.commit()
conn.close()
print(c.rowcount) #checking to make sure new row(s) added

#### Inserting data - multiple records at once

In [19]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()
all_customers = [
    ('Harry','Teague','100 Centre Street','Apt 1A','88888'),
    ('Henrietta','Teague','100 Centre Street','Apt 1A','88888'),
    ('Larry','Gantt','10 Bond Street','Apt 11C','88000'),
    ('Horace','Penn','50 Gansavort Street','Apt 9B','88770'),
    ('Patrice','Wright','60 Brooklyn Bridge Park Street','Apt 44M','11234'),
]
c.executemany("""INSERT INTO customers VALUES (?,?,?,?,?)""", all_customers)
conn.commit()
conn.close()

#### Display your data using the SELECT command

In [11]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()

# The asterick allows you to retreive all of the fields
c.execute('SELECT * FROM customers')
data = c.fetchall()
print(data)

# A list of tuples were returned
# Check the data type of the elements in the list
print(data[0])

print(data[0][0]) # Return the first name of the first element in the list
conn.commit()
conn.close()

[('John', 'Smith', '1 Main street', '', '99991'), ('John', 'Smith', '1 Main street', '', '99991'), ('Mary', 'Jones', '15 Main street', '', '99995'), ('Harry', 'Teague', '100 Centre Street', 'Apt 1A', '88888'), ('Henrietta', 'Teague', '100 Centre Street', 'Apt 1A', '88888'), ('Larry', 'Gantt', '10 Bond Street', 'Apt 11C', '88000'), ('Horace', 'Penn', '50 Gansavort Street', 'Apt 9B', '88770'), ('Patrice', 'Wright', '60 Brooklyn Bridge Park Street', 'Apt 44M', '11234')]
('John', 'Smith', '1 Main street', '', '99991')
John

#### fetchone()

In [19]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()

c.execute('SELECT * FROM customers')
print(c.fetchone())

conn.commit()
conn.close()
# A first record is returned

('John', 'Smith', '1 Main street', '', '99991')

#### fetchmany()

In [20]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()

c.execute('SELECT * FROM customers')
print(c.fetchmany(3))

conn.commit()
conn.close()
# The first record is returned

[('John', 'Smith', '1 Main street', '', '99991'), ('John', 'Smith', '1 Main street', '', '99991'), ('Mary', 'Jones', '15 Main street', '', '99995')]

#### Examine the elements return by fetchone

In [26]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()

c.execute('SELECT * FROM customers')
ans = c.fetchone()

# Use indexing to return the elements of the tuple
print(f'First name: {ans[0]}\nLast name: {ans[1]}\nAddress 1: {ans[2]}\nAddress 2: {ans[3]}\nZip: {ans[4]}' )

conn.commit()
conn.close()
# A first record is returned

First name: John
Last name: Smith
Address 1: 1 Main street
Address 2:
Zip: 99991

#### Iterate over all returned items

In [32]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()

c.execute('SELECT * FROM customers')
customers = c.fetchall()

i = 1
for customer in customers:
    # Use indexing to return the elements of the tuple
    print(f'Customer {i}')
    print(f'First name: {customer[0]}\nLast name: {customer[1]}\nAddress 1: {customer[2]}\nAddress 2: {customer[3]}\nZip: {customer[4]}' )
    print('='*30)
    i += 1
conn.commit()
conn.close()

Customer 1
First name: John
Last name: Smith
Address 1: 1 Main street
Address 2:
Zip: 99991
==============================
Customer 2
First name: John
Last name: Smith
Address 1: 1 Main street
Address 2:
Zip: 99991
==============================
Customer 3
First name: Mary
Last name: Jones
Address 1: 15 Main street
Address 2:
Zip: 99995
==============================
Customer 4
First name: Harry
Last name: Teague
Address 1: 100 Centre Street
Address 2: Apt 1A
Zip: 88888
==============================
Customer 5
First name: Henrietta
Last name: Teague
Address 1: 100 Centre Street
Address 2: Apt 1A
Zip: 88888
==============================
Customer 6
First name: Larry
Last name: Gantt
Address 1: 10 Bond Street
Address 2: Apt 11C
Zip: 88000
==============================
Customer 7
First name: Horace
Last name: Penn
Address 1: 50 Gansavort Street
Address 2: Apt 9B
Zip: 88770
==============================
Customer 8
First name: Patrice
Last name: Wright
Address 1: 60 Brooklyn Bridge Park Street
Address 2: Apt 44M
Zip: 11234
==============================

#### sqlite primary key is automatically created

In [13]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()

c.execute('SELECT rowid,* FROM customers')  # rowid is now the first element in the returned tuple
customers = c.fetchall()

# i = 1
for customer in customers:
    # Use indexing to return the elements of the tuple
    print(f'Customer {customer[0]}')
    print(f'First name: {customer[1]}\nLast name: {customer[2]}\nAddress 1: {customer[3]}\nAddress 2: {customer[4]}\nZip: {customer[5]}' )
    print('='*30)
conn.commit()
conn.close()

Customer 1
First name: John
Last name: Smith
Address 1: 1 Main street
Address 2:
Zip: 99991
==============================
Customer 2
First name: John
Last name: Smith
Address 1: 1 Main street
Address 2:
Zip: 99991
==============================
Customer 3
First name: Mary
Last name: Jones
Address 1: 15 Main street
Address 2:
Zip: 99995
==============================
Customer 4
First name: Harry
Last name: Teague
Address 1: 100 Centre Street
Address 2: Apt 1A
Zip: 88888
==============================
Customer 5
First name: Henrietta
Last name: Teague
Address 1: 100 Centre Street
Address 2: Apt 1A
Zip: 88888
==============================
Customer 6
First name: Larry
Last name: Gantt
Address 1: 10 Bond Street
Address 2: Apt 11C
Zip: 88000
==============================
Customer 7
First name: Horace
Last name: Penn
Address 1: 50 Gansavort Street
Address 2: Apt 9B
Zip: 88770
==============================
Customer 8
First name: Patrice
Last name: Wright
Address 1: 60 Brooklyn Bridge Park Street
Address 2: Apt 44M
Zip: 11234
==============================

In [ ]:
'''
In case of a database locked issue.
Recreate your database by running the code again and changing the database name to customer1.db

'''

This notebook is part of a course at www.codeimmersives.com called SQL-NOSQL. If you accessed this notebook outside the course, you can get more information about this course online by clicking here.

<hr>

Copyright &copy; 2021  Code Immersives