In [37]:
<h1>Instructions</h1>
Normalize the following block of data by copying the data below, except the triple quotes, <br>
and placing the data in a file called employee_data.csv<br>
1 - Import the file using core python<br>
2 - Normalize the data and separate into component tables<br>
3 - Use SQL to create the tables and populate them<br>
4 - Answer the following questions using SQL<br>
- Provide a count of the employees by gender<br>
- Provide a count of the employees by dept name<br>
- Provide a list of employees in last name, first name order<br>
- Provide a list of employees in tenure order (active employees only) in descending order<br>
- Provide a list of employees by manager name in alphabetical order by last name<br>
- Provide a list of employees by region<br>
- Provide a list of employees who have exceeded their allotment of sick days<br>

SyntaxError: invalid syntax (<ipython-input-37-c18088b01a5b>, line 1)

In [64]:
import sqlite3
import csv

conn = sqlite3.connect('Employees.db')
c = conn.cursor()

c.execute('Drop Table if Exists Employees')
c.execute("""Create Table If Not Exists Employees(
    emp_id Integer,
    marital_status Text,
    last_name Text,
    first_name Text,
    hire_date Text,
    gender Text,
    dept_id Text,
    dept_name Text,
    manager_id Integer,
    status Text,
    ter_date Text,
    region Text,
    sick_days_accumulated Integer,
    sick_day1 Text,
    sick_day2 Text,
    sick_day3 Text)
    """)

conn.commit()
conn.close()

In [65]:
import sqlite3
import csv


conn = sqlite3.connect('Employees.db')
c = conn.cursor()

with open('Employee_data.csv', 'r', newline = '') as data:
    dataLi = csv.reader(data)
    employee_list = []
    for row in dataLi:
        for x in range(len(row)-1):
            row[x] = row[x].replace("'","")
        row = tuple(row)
        employee_list.append(row)
    employee_list = employee_list[1:]
    # print(employee_list)

# length = len(employee_list[1]) # how many '?' to use in executemany
# print(length)

c.executemany('''Insert Into Employees Values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)''', employee_list )
c.execute('''Select * from Employees''')
print(c.fetchall())


conn.commit()
conn.close()

[(1, 'Married', 'Ellis', 'Francis', '2005/02/12', 'Male', 'HR', 'Human Resources', 37, 'EXEMPT', '', 'NORTH EAST', 5, '', '', "''"), (2, 'Divorced', 'Jones', 'Pamala', '2003/03/10', 'Female', 'IT', 'Information Technology', 37, 'EXEMPT', '', 'NORTH EAST', 5, '', '', "''"), (3, 'Widowed', 'Davidson', 'Fred', '2003/01/11', 'Male', 'FIN', 'Finance', 37, 'EXEMPT', '', 'NORTH EAST', 5, '', '', "''"), (4, 'Single', 'Rivera', 'Jewels', '2013/10/02', 'Female', 'ACC', 'Accounting', 19, 'NON-EXEMPT', '', 'NORTH EAST', 5, '', '', "''"), (5, 'Single', 'Sing', 'Hu', '2019/12/30', 'Male', 'WHS', 'Warehouse', 30, 'NON-EXEMPT', '', 'NORTH EAST', 2, '2021/02/01', '2021/02/02', "''"), (6, 'Single', 'Ramos', 'Diego', '2015/06/16', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '', 'NORTH EAST', 2, '', '', "''"), (7, 'Single', 'Sanchez', 'Jorge', '2015/08/02', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '2020/03/12', 'NORTH EAST', 0, '', '', "''"), (8, 'Single', 'Yee', 'Sue', '2019/03/12', 'Female', 'HR', 'Human Resources', 1, 'NON-EXEMPT', '', 'NORTH EAST', 2, '', '', "''"), (9, 'Single', 'Williams', 'William', '2011/05/28', 'Male', 'FIN', 'Finance', 3, 'EXEMPT', '', 'SOUTH WEST', 5, '', '', "''"), (10, 'Married', 'Davis', 'Elizabeth', '2016/09/13', 'Female', 'FIN', 'Finance', 3, 'EXEMPT', '', 'SOUTH WEST', 5, '2021/01/02', '', "''"), (11, 'Married', 'Freach', 'Greta', '2009/05/03', 'Female', 'ACC', 'Accounting', 19, 'EXEMPT', '', 'SOUTH WEST', 5, '', '', "''"), (12, 'Married', 'Gantt', 'Jackson', '2015/06/12', 'Male', 'ACC', 'Accounting', 19, 'EXEMPT', '', 'SOUTH WEST', 5, '', '', "''"), (13, 'Married', 'Jarvis', 'Melvin', '2019/03/30', 'Male', 'FIN', 'Finance', 3, 'EXEMPT', '', 'SOUTH WEST', 5, '', '', "''"), (14, 'Married', 'Tate', 'Rachael', '2016/05/03', 'Female', 'HR', 'Human Resources', 1, 'EXEMPT', '', 'SOUTH WEST', 5, '', '', "''"), (15, 'Married', 'Sung', 'Henry', '2014/08/20', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '', 'SOUTH WEST', 5, '2021/01/24', '2021/01/25', "''"), (16, 'Married', 'Davidson', 'Wilma', '2018/03/18', 'Female', 'ACC', 'Accounting', 37, 'EXEMPT', '', 'SOUTH WEST', 5, '', '', "''"), (17, 'Married', 'Williamson', 'Ursula', '2008/01/19', 'Female', 'HR', 'Human Resources', 1, 'NON-EXEMPT', '', 'WEST', 2, '', '', "''"), (18, 'Divorced', 'French', 'Sara', '2015/10/29', 'Female', 'HR', 'Human Resources', 1, 'NON-EXEMPT', '', 'WEST', 2, '', '', "''"), (19, 'Divorced', 'Xi', 'Yu', '2017/04/24', 'Female', 'ACC', 'Accounting', 37, 'EXEMPT', '', 'WEST', 5, '', '', "''"), (20, 'Divorced', 'Quinones', 'Maribel', '2015/05/25', 'Female', 'FIN', 'Finance', 3, 'EXEMPT', '', 'WEST', 5, '', '', "''"), (21, 'Single', 'Breen', 'Margret', '2018/03/01', 'Female', 'WHS', 'Warehouse', 30, 'EXEMPT', '', 'EAST', 5, '', '', "''"), (22, 'Single', 'Pollard', 'Franz', '2007/07/29', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '', 'EAST', 5, '', '', "''"), (23, 'Single', 'Keller', 'Bradley', '2011/04/30', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '', 'EAST', 5, '', '', "''"), (24, 'Single', 'Opus', 'Oliver', '2014/07/12', 'Male', 'WHS', 'Warehouse', 30, 'NON-EXEMPT', '', 'EAST', 2, '2021/01/12', '', "''"), (25, 'Single', 'Nulland', 'Nicholas', '2010/06/10', 'Male', 'FIN', 'Finance', 3, 'EXEMPT', '', 'EAST', 5, '', '', "''"), (26, 'Single', 'Lee', 'Tatum', '2016/11/15', 'Male', 'WHS', 'Warehouse', 30, 'NON-EXEMPT', '', 'NORTH WEST', 5, '', '', "''"), (27, 'Single', 'Saunders', 'Asia', '2016/02/18', 'Female', 'FIN', 'Finance', 3, 'EXEMPT', '', 'NORTH WEST', 5, '', '', "''"), (28, 'Single', 'Ute', 'Ulsula', '2008/03/11', 'Female', 'HR', 'Human Resources', 1, 'NON-EXEMPT', '', 'NORTH WEST', 2, '', '', "''"), (29, 'Single', 'Jackson', 'Jessica', '2018/06/02', 'Female', 'WHS', 'Warehouse', 30, 'NON-EXEMPT', '2020/04/21', 'NORTH WEST', 0, '', '', "''"), (30, 'Widowed', 'Forrest', 'Peter', '2010/04/03', 'Male', 'WHS', 'Warehouse', 37, 'NON-EXEMPT', '', 'SOUTH EAST', 5, '', '', "''"), (31, 'Widowed', 'Lagos', 'Leeland', '2017/03/30', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '', 'SOUTH EAST', 2, '', '', "''"), (32, 'Widowed', 'Holland', 'Henry', '2011/04/02', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '', 'SOUTH EAST', 5, '', '', "''"), (33, 'Married', 'Martinez', 'Margarita', '2017/05/26', 'Female', 'ACC', 'Accounting', 19, 'NON-EXEMPT', '', 'SOUTH EAST', 2, '2021/02/10', '2021/02/11', "'2021/02/12"), (34, 'Married', 'Jones', 'Jessica', '2013/03/19', 'Female', 'WHS', 'Warehouse', 30, 'NON-EXEMPT', '', 'SOUTH EAST', 2, '', '', "''"), (35, 'Married', 'Torrez', 'Lea', '2019/05/11', 'Female', 'IT', 'Information Technology', 2, 'EXEMPT', '', 'SOUTH EAST', 5, '', '', "''"), (36, 'Married', 'Regis', 'Lucy', '2014/06/20', 'Female', 'ACC', 'Accounting', 19, 'EXEMPT', '', 'SOUTH EAST', 14, '', '', "''"), (37, 'Married', 'Saulzman', 'Randle', '2001/03/20', 'Male', 'EX', 'Executive', 37, 'EXEMPT', '', 'EAST', 25, '', '', "''")]

In [33]:
import sqlite3

conn = sqlite3.connect('Employees.db')
c = conn.cursor()

#Provide a count of the employees by gender
c.execute('SELECT Count(*) FROM Employees Where gender = "Female"')  # Counts all values in the table based on the expression
females = c.fetchall()
#
for num in females:
    print(num)
    print('='*30)



# conn.commit()
conn.close()

(76,)
==============================

In [69]:
import sqlite3

conn = sqlite3.connect('Employees.db')
c = conn.cursor()

#Provide a count of the employees by dept name
c.execute('SELECT count() FROM Employees where dept_name = "Finance"')  # Counts all values in the table based on the expression
finance = c.fetchall()
#
for num in finance:
    print(num)
    print('='*30)

# conn.commit()
conn.close()

(7,)
==============================

In [66]:
import sqlite3

conn = sqlite3.connect('Employees.db')
c = conn.cursor()

#Provide a list of employees in last name, first name order
c.execute("Select last_name, first_name From Employees Order By last_name")
print(c.fetchall())

# conn.commit()
conn.close()

[('Breen', 'Margret'), ('Davidson', 'Fred'), ('Davidson', 'Wilma'), ('Davis', 'Elizabeth'), ('Ellis', 'Francis'), ('Forrest', 'Peter'), ('Freach', 'Greta'), ('French', 'Sara'), ('Gantt', 'Jackson'), ('Holland', 'Henry'), ('Jackson', 'Jessica'), ('Jarvis', 'Melvin'), ('Jones', 'Pamala'), ('Jones', 'Jessica'), ('Keller', 'Bradley'), ('Lagos', 'Leeland'), ('Lee', 'Tatum'), ('Martinez', 'Margarita'), ('Nulland', 'Nicholas'), ('Opus', 'Oliver'), ('Pollard', 'Franz'), ('Quinones', 'Maribel'), ('Ramos', 'Diego'), ('Regis', 'Lucy'), ('Rivera', 'Jewels'), ('Sanchez', 'Jorge'), ('Saulzman', 'Randle'), ('Saunders', 'Asia'), ('Sing', 'Hu'), ('Sung', 'Henry'), ('Tate', 'Rachael'), ('Torrez', 'Lea'), ('Ute', 'Ulsula'), ('Williams', 'William'), ('Williamson', 'Ursula'), ('Xi', 'Yu'), ('Yee', 'Sue')]

In [54]:
import sqlite3

conn = sqlite3.connect('Employees.db')
c = conn.cursor()

#Provide a list of employees in tenure order (active employees only) in descending order
c.execute('''Select * From Employees Order By hire_date DESC''')
print(c.fetchall())

# conn.commit()
conn.close()

[(5, 'Single', 'Sing', 'Hu', '2019/12/30', 'Male', 'WHS', 'Warehouse', 30, 'NON-EXEMPT', '', 'NORTH EAST', 2, '2021/02/01', '2021/02/02', "''"), (35, 'Married', 'Torrez', 'Lea', '2019/05/11', 'Female', 'IT', 'Information Technology', 2, 'EXEMPT', '', 'SOUTH EAST', 5, '', '', "''"), (13, 'Married', 'Jarvis', 'Melvin', '2019/03/30', 'Male', 'FIN', 'Finance', 3, 'EXEMPT', '', 'SOUTH WEST', 5, '', '', "''"), (8, 'Single', 'Yee', 'Sue', '2019/03/12', 'Female', 'HR', 'Human Resources', 1, 'NON-EXEMPT', '', 'NORTH EAST', 2, '', '', "''"), (29, 'Single', 'Jackson', 'Jessica', '2018/06/02', 'Female', 'WHS', 'Warehouse', 30, 'NON-EXEMPT', '2020/04/21', 'NORTH WEST', 0, '', '', "''"), (16, 'Married', 'Davidson', 'Wilma', '2018/03/18', 'Female', 'ACC', 'Accounting', 37, 'EXEMPT', '', 'SOUTH WEST', 5, '', '', "''"), (21, 'Single', 'Breen', 'Margret', '2018/03/01', 'Female', 'WHS', 'Warehouse', 30, 'EXEMPT', '', 'EAST', 5, '', '', "''"), (33, 'Married', 'Martinez', 'Margarita', '2017/05/26', 'Female', 'ACC', 'Accounting', 19, 'NON-EXEMPT', '', 'SOUTH EAST', 2, '2021/02/10', '2021/02/11', "'2021/02/12"), (19, 'Divorced', 'Xi', 'Yu', '2017/04/24', 'Female', 'ACC', 'Accounting', 37, 'EXEMPT', '', 'WEST', 5, '', '', "''"), (31, 'Widowed', 'Lagos', 'Leeland', '2017/03/30', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '', 'SOUTH EAST', 2, '', '', "''"), (26, 'Single', 'Lee', 'Tatum', '2016/11/15', 'Male', 'WHS', 'Warehouse', 30, 'NON-EXEMPT', '', 'NORTH WEST', 5, '', '', "''"), (10, 'Married', 'Davis', 'Elizabeth', '2016/09/13', 'Female', 'FIN', 'Finance', 3, 'EXEMPT', '', 'SOUTH WEST', 5, '2021/01/02', '', "''"), (14, 'Married', 'Tate', 'Rachael', '2016/05/03', 'Female', 'HR', 'Human Resources', 1, 'EXEMPT', '', 'SOUTH WEST', 5, '', '', "''"), (27, 'Single', 'Saunders', 'Asia', '2016/02/18', 'Female', 'FIN', 'Finance', 3, 'EXEMPT', '', 'NORTH WEST', 5, '', '', "''"), (18, 'Divorced', 'French', 'Sara', '2015/10/29', 'Female', 'HR', 'Human Resources', 1, 'NON-EXEMPT', '', 'WEST', 2, '', '', "''"), (7, 'Single', 'Sanchez', 'Jorge', '2015/08/02', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '2020/03/12', 'NORTH EAST', 0, '', '', "''"), (6, 'Single', 'Ramos', 'Diego', '2015/06/16', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '', 'NORTH EAST', 2, '', '', "''"), (12, 'Married', 'Gantt', 'Jackson', '2015/06/12', 'Male', 'ACC', 'Accounting', 19, 'EXEMPT', '', 'SOUTH WEST', 5, '', '', "''"), (20, 'Divorced', 'Quinones', 'Maribel', '2015/05/25', 'Female', 'FIN', 'Finance', 3, 'EXEMPT', '', 'WEST', 5, '', '', "''"), (15, 'Married', 'Sung', 'Henry', '2014/08/20', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '', 'SOUTH WEST', 5, '2021/01/24', '2021/01/25', "''"), (24, 'Single', 'Opus', 'Oliver', '2014/07/12', 'Male', 'WHS', 'Warehouse', 30, 'NON-EXEMPT', '', 'EAST', 2, '2021/01/12', '', "''"), (36, 'Married', 'Regis', 'Lucy', '2014/06/20', 'Female', 'ACC', 'Accounting', 19, 'EXEMPT', '', 'SOUTH EAST', 14, '', '', "''"), (4, 'Single', 'Rivera', 'Jewels', '2013/10/02', 'Female', 'ACC', 'Accounting', 19, 'NON-EXEMPT', '', 'NORTH EAST', 5, '', '', "''"), (34, 'Married', 'Jones', 'Jessica', '2013/03/19', 'Female', 'WHS', 'Warehouse', 30, 'NON-EXEMPT', '', 'SOUTH EAST', 2, '', '', "''"), (9, 'Single', 'Williams', 'William', '2011/05/28', 'Male', 'FIN', 'Finance', 3, 'EXEMPT', '', 'SOUTH WEST', 5, '', '', "''"), (23, 'Single', 'Keller', 'Bradley', '2011/04/30', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '', 'EAST', 5, '', '', "''"), (32, 'Widowed', 'Holland', 'Henry', '2011/04/02', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '', 'SOUTH EAST', 5, '', '', "''"), (25, 'Single', 'Nulland', 'Nicholas', '2010/06/10', 'Male', 'FIN', 'Finance', 3, 'EXEMPT', '', 'EAST', 5, '', '', "''"), (30, 'Widowed', 'Forrest', 'Peter', '2010/04/03', 'Male', 'WHS', 'Warehouse', 37, 'NON-EXEMPT', '', 'SOUTH EAST', 5, '', '', "''"), (11, 'Married', 'Freach', 'Greta', '2009/05/03', 'Female', 'ACC', 'Accounting', 19, 'EXEMPT', '', 'SOUTH WEST', 5, '', '', "''"), (28, 'Single', 'Ute', 'Ulsula', '2008/03/11', 'Female', 'HR', 'Human Resources', 1, 'NON-EXEMPT', '', 'NORTH WEST', 2, '', '', "''"), (17, 'Married', 'Williamson', 'Ursula', '2008/01/19', 'Female', 'HR', 'Human Resources', 1, 'NON-EXEMPT', '', 'WEST', 2, '', '', "''"), (22, 'Single', 'Pollard', 'Franz', '2007/07/29', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '', 'EAST', 5, '', '', "''"), (1, 'Married', 'Ellis', 'Francis', '2005/02/12', 'Male', 'HR', 'Human Resources', 37, 'EXEMPT', '', 'NORTH EAST', 5, '', '', "''"), (2, 'Divorced', 'Jones', 'Pamala', '2003/03/10', 'Female', 'IT', 'Information Technology', 37, 'EXEMPT', '', 'NORTH EAST', 5, '', '', "''"), (3, 'Widowed', 'Davidson', 'Fred', '2003/01/11', 'Male', 'FIN', 'Finance', 37, 'EXEMPT', '', 'NORTH EAST', 5, '', '', "''"), (37, 'Married', 'Saulzman', 'Randle', '2001/03/20', 'Male', 'EX', 'Executive', 37, 'EXEMPT', '', 'EAST', 25, '', '', "''")]

In [72]:
import sqlite3

conn = sqlite3.connect('Employees.db')
c = conn.cursor()

# Provide a list of employees by manager name in alphabetical order by last name
c.execute('''Select last_name, first_name From Employees where manager_id = '037' Order By last_name''')

print(c.fetchall())

# conn.commit()
conn.close()

[('Davidson', 'Fred'), ('Davidson', 'Wilma'), ('Ellis', 'Francis'), ('Forrest', 'Peter'), ('Jones', 'Pamala'), ('Saulzman', 'Randle'), ('Xi', 'Yu')]

In [59]:
import sqlite3

conn = sqlite3.connect('Employees.db')
c = conn.cursor()

# Provide a list of employees by region
c.execute('''Select * From Employees where region = "NORTH EAST"''')


print(c.fetchall())

# conn.commit()
conn.close()

[(1, 'Married', 'Ellis', 'Francis', '2005/02/12', 'Male', 'HR', 'Human Resources', 37, 'EXEMPT', '', 'NORTH EAST', 5, '', '', "''"), (2, 'Divorced', 'Jones', 'Pamala', '2003/03/10', 'Female', 'IT', 'Information Technology', 37, 'EXEMPT', '', 'NORTH EAST', 5, '', '', "''"), (3, 'Widowed', 'Davidson', 'Fred', '2003/01/11', 'Male', 'FIN', 'Finance', 37, 'EXEMPT', '', 'NORTH EAST', 5, '', '', "''"), (4, 'Single', 'Rivera', 'Jewels', '2013/10/02', 'Female', 'ACC', 'Accounting', 19, 'NON-EXEMPT', '', 'NORTH EAST', 5, '', '', "''"), (5, 'Single', 'Sing', 'Hu', '2019/12/30', 'Male', 'WHS', 'Warehouse', 30, 'NON-EXEMPT', '', 'NORTH EAST', 2, '2021/02/01', '2021/02/02', "''"), (6, 'Single', 'Ramos', 'Diego', '2015/06/16', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '', 'NORTH EAST', 2, '', '', "''"), (7, 'Single', 'Sanchez', 'Jorge', '2015/08/02', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '2020/03/12', 'NORTH EAST', 0, '', '', "''"), (8, 'Single', 'Yee', 'Sue', '2019/03/12', 'Female', 'HR', 'Human Resources', 1, 'NON-EXEMPT', '', 'NORTH EAST', 2, '', '', "''")]

In [60]:
import sqlite3

conn = sqlite3.connect('Employees.db')
c = conn.cursor()

# Provide a list of employees who have exceeded their allotment of sick days
c.execute('''Select * From Employees Where sick_days_accumulated = "0"''')
print(c.fetchall())

# conn.commit()
conn.close()

[(7, 'Single', 'Sanchez', 'Jorge', '2015/08/02', 'Male', 'IT', 'Information Technology', 2, 'EXEMPT', '2020/03/12', 'NORTH EAST', 0, '', '', "''"), (29, 'Single', 'Jackson', 'Jessica', '2018/06/02', 'Female', 'WHS', 'Warehouse', 30, 'NON-EXEMPT', '2020/04/21', 'NORTH WEST', 0, '', '', "''")]