# SQL Terminology
The Structured Query Language or SQL is all about executing certain commands against the database or creating it

In SQL Server, all these commands are categorically organized into four categories, and they are **DML**, **DDL**, **DCL**, and **TCL** Commands.

## DDL Commands

DDL stands for Data Descriptive Language, used to create and modify the structure of a database and database objects. 
** Don't have to use From.

#### Examples of DDL Commands

```
CREATE – Create an object. I mean, create a database, table, triggers, index, functions, stored procedures, etc.
DROP – This SQL DDL command helps to delete objects. For example, delete tables, delete a database, etc.
ALTER – Used to alter the existing database or its object structures.
TRUNCATE – This SQL DDL command removes records from tables
RENAME – Renaming the database objects

```

## DML Commands

DML means Data Manipulation Language in Sql Server. As its name suggests, these Sql Server DML commands will perform data manipulation to manipulate data presented in the server.
** Have to specify what table you are manipulation -> Using From.

```
SELECT – This SQL DML command select records or data from a table
INSERT – Insert data into a database table.
UPDATE – This SQL DML command will update existing records within a table
DELETE – Delete unwanted records from a table
```

## DCL Commands 

The Sql Server DCL means Data Control Language. These DCL commands in SQL Server will control the Data access permission.

```
GRANT – It permits users to access the database.
REVOKE – This SQL DCL command withdraws the permission given by GRANT to access the database.
```

### Examples of DCL Code


**Definiton**
```
GRANT privilege [,privilege],.. 
ON privilege_level 
TO account_name;
````
**Example of granting SELECT to user**
```
GRANT SELECT
ON employees
TO bob@localhost;
```
**Example of granting INSERT to user**
```
GRANT INSERT 
ON classicmodels.* 
TO bob@localhost;
```

**Example of granting column privledges to user**
```
GRANT 
   SELECT (employeeNumner,lastName, firstName,email), 
   UPDATE(lastName) 
ON employees 
TO bob@localhost;

```
**Example of creating a user, granting all permissions and showing grants**

```
CREATE USER super@localhost 
IDENTIFIED BY 'Secure1Pass!'; 


GRANT ALL 
ON classicmodels.* 
TO super@localhost;


SHOW GRANTS FOR super@localhost;
```

## TCL Commands 
TCL means Transaction Control Language

```
COMMIT –  This SQL TCL command will commit the running transaction
ROLLBACK – Rollback the current transaction 
SAVEPOINT – You can set a save point so that, next time it will start from here
SET TRANSACTION – Specify the characteristics of the transactions 
```

### Definition of a transaction (kind of like a fail safe for mysql operations)

MySQL transaction allows you to execute a set of MySQL operations to ensure that the database never contains the result of partial operations. In a set of operations, if one of them fails, the rollback occurs to restore the database to its original state. If no error occurs, the entire set of statements is committed to the database.

### TCL (Continued What is a transaction?)

By default, MySQL automatically commits the changes permanently to the database. To force MySQL not to commit changes automatically, you use the following statements:

```
SET autocommit = 0;
SET autocommit = OFF
```

Conversely you can explicitly by turning them on 

``` 

SET autocommit = 1;
SET autocommit = ON;
```

### Example of using a transaction

```
-- 1. start a new transaction
START TRANSACTION;

-- 2. Get the latest order number
SELECT 
    @orderNumber:=MAX(orderNUmber)+1
FROM
    orders;

-- 3. insert a new order for customer 145
INSERT INTO orders(orderNumber,
                   orderDate,
                   requiredDate,
                   shippedDate,
                   status,
                   customerNumber)
VALUES(@orderNumber,
       '2005-05-31',
       '2005-06-10',
       '2005-06-11',
       'In Process',
        145);
        
-- 4. Insert order line items
INSERT INTO orderdetails(orderNumber,
                         productCode,
                         quantityOrdered,
                         priceEach,
                         orderLineNumber)
VALUES(@orderNumber,'S18_1749', 30, '136', 1),
      (@orderNumber,'S18_2248', 50, '55.09', 2); 
      
-- 5. commit changes    
COMMIT;
SELECT 
    a.orderNumber,
    orderDate,
    requiredDate,
    shippedDate,
    status,
    comments,
    customerNumber,
    orderLineNumber,
    productCode,
    quantityOrdered,
    priceEach
FROM
    orders a
        INNER JOIN
    orderdetails b USING (orderNumber)
WHERE
    a.ordernumber = 10426;

COMMIT;
```

### As we've already seen sqlite when we call commit, it finalizes the transaction

```
SELECT 
    a.orderNumber,
    orderDate,
    requiredDate,
    shippedDate,
    status,
    comments,
    customerNumber,
    orderLineNumber,
    productCode,
    quantityOrdered,
    priceEach
FROM
    orders a
        INNER JOIN
    orderdetails b USING (orderNumber)
WHERE
    a.ordernumber = 10426;
```

### Example of using Rollback

**note**: we can use Rollback in place of COMMIT to nullify changes to a transaction

```
mysql> START TRANSACTION;
Query OK, 0 rows affected (0.00 sec)

mysql> DELETE FROM orders;
Query OK, 327 rows affected (0.03 sec)
mysql> SELECT COUNT(*) FROM orders;
+----------+
| COUNT(*) |
+----------+
|      327 |
+----------+
1 row in set (0.00 sec)
mysql> ROLLBACK;
Query OK, 0 rows affected (0.04 sec)
mysql> SELECT COUNT(*) FROM orders;
+----------+
| COUNT(*) |
+----------+
|      327 |
+----------+
1 row in set (0.00 sec)
```